In [41]:
import pandas as pd
from haversine import haversine, Unit
import time
import numpy as np

In [42]:
# Load the data
properties = pd.read_csv('../data/Airport Distance/bq-unique-property-postcodes.csv')
properties_stations_shortest_distance = properties.copy()

# Load the station dataset
stations = pd.read_csv("../data/Train Distance/Location_of_UK_stations.csv")
stations = stations[['stationName', 'lat', 'long']]

# Load the regions dataset
regions = pd.read_csv("../data/Train Distance/bq-train-station-region.csv")
regions = regions[['Station name', 'Region']]
regions

        Station name                    Region
0         Abbey Wood                    London
1               Aber                     Wales
2          Abercynon                     Wales
3           Aberdare                     Wales
4           Aberdeen                  Scotland
...              ...                       ...
2566            York  Yorkshire and The Humber
2567          Yorton             West Midlands
2568   Ystrad Mynach                     Wales
2569  Ystrad Rhondda                     Wales
2570             NaN                       NaN

[2571 rows x 2 columns]

In [43]:
stations

         stationName        lat      long
0         Abbey Wood  51.490719  0.120343
1               Aber  51.575363 -3.230890
2          Abercynon  51.642620 -3.329549
3           Aberdare  51.715019 -3.443130
4           Aberdeen  57.143127 -2.097464
...              ...        ...       ...
2607           Yoker  55.892792 -4.387464
2608            York  53.957966 -1.093159
2609          Yorton  52.809009 -2.736450
2610   Ystrad Mynach  51.640884 -3.241342
2611  Ystrad Rhondda  51.644478 -3.475570

[2612 rows x 3 columns]

In [44]:
# Merge the datasets on station name
merged = pd.merge(stations, regions, left_on='stationName', right_on='Station name', how='left')
merged

,stationName,lat,long,Station name,Region
0,Abbey Wood,51.490719,0.120343,Abbey Wood,London
1,Aber,51.575363,-3.230890,Aber,Wales
2,Abercynon,51.642620,-3.329549,Abercynon,Wales
3,Aberdare,51.715019,-3.443130,Aberdare,Wales
4,Aberdeen,57.143127,-2.097464,Aberdeen,Scotland
...,...,...,...,...,...
2607,Yoker,55.892792,-4.387464,Yoker,Scotland
2608,York,53.957966,-1.093159,York,Yorkshire and The Humber
2609,Yorton,52.809009,-2.736450,Yorton,West Midlands
2610,Ystrad Mynach,51.640884,-3.241342,Ystrad Mynach,Wales
2611,Ystrad Rhondda,51.644478,-3.475570,Ystrad Rhondda,Wales

In [45]:

regions_to_exclude = ['Wales', 'Scotland', np.nan]  # list the regions to exclude
merged = merged[~merged['Region'].isin(regions_to_exclude)]

# regions = regions.dropna(subset=['Region'])
merged

,stationName,lat,long,Station name,Region
0,Abbey Wood,51.490719,0.120343,Abbey Wood,London
11,Accrington,53.753193,-2.370016,Accrington,North West
15,Acklington,55.307129,-1.651816,Acklington,North East
16,Acle,52.634647,1.543981,Acle,East of England
17,Acocks Green,52.449291,-1.818980,Acocks Green,West Midlands
...,...,...,...,...,...
2603,Yeovil Junction,50.924686,-2.613198,Yeovil Junction,South West
2604,Yeovil Pen Mill,50.944466,-2.613461,Yeovil Pen Mill,South West
2605,Yetminster,50.896114,-2.573004,Yetminster,South West
2608,York,53.957966,-1.093159,York,Yorkshire and The Humber
2609,Yorton,52.809009,-2.736450,Yorton,West Midlands

In [46]:
stations = merged[['stationName', 'lat', 'long']]
stations

          stationName        lat      long
0          Abbey Wood  51.490719  0.120343
11         Accrington  53.753193 -2.370016
15         Acklington  55.307129 -1.651816
16               Acle  52.634647  1.543981
17       Acocks Green  52.449291 -1.818980
...               ...        ...       ...
2603  Yeovil Junction  50.924686 -2.613198
2604  Yeovil Pen Mill  50.944466 -2.613461
2605       Yetminster  50.896114 -2.573004
2608             York  53.957966 -1.093159
2609           Yorton  52.809009 -2.736450

[1794 rows x 3 columns]

In [47]:
# Prepare a dataframe for the distances
distances = pd.DataFrame()

In [48]:
# Check the range of Lat and Long in properties data
print(properties['Lat'].min(), properties['Lat'].max())
print(properties['Long'].min(), properties['Long'].max())

50.149653 99.999999
-5.243127 1.431448

In [49]:
# Remove any rows with invalid Lat and Long values
properties = properties[(properties['Lat'] >= -90) & (properties['Lat'] <= 90)]
properties = properties[(properties['Long'] >= -180) & (properties['Long'] <= 180)]

In [50]:
properties

       Postcode        Lat      Long
0       AL1 1AJ  51.744498 -0.328599
1       AL1 1AR  51.739727 -0.317492
2       AL1 1AS  51.749073 -0.335471
3       AL1 1AT  51.742011 -0.319421
4       AL1 1AU  51.741475 -0.319273
...         ...        ...       ...
670098  YO8 9XP  53.772109 -1.072308
670099  YO8 9YA  53.770419 -1.158828
670100  YO8 9YB  53.770000 -1.159352
670101  YO8 9YD  53.769733 -1.171313
670102  YO8 9YE  53.769682 -1.170434

[670101 rows x 3 columns]

In [51]:
# Iterate over each station
for i, station in stations.iterrows():
    station_loc = (station['lat'], station['long'])
    # Start timing the operation
    start_time = time.time()
    
    distances[station['stationName']] = properties.apply(lambda x: haversine((x['Lat'], x['Long']), station_loc), axis=1)
    
    # Calculate and print the elapsed time
    elapsed_time = time.time() - start_time
    print(f"Elapsed time for {station['stationName']}: {elapsed_time} seconds")

Elapsed time for Abbey Wood: 2.5235977172851562 seconds
Elapsed time for Accrington: 2.4679720401763916 seconds
Elapsed time for Acklington: 2.4760990142822266 seconds
Elapsed time for Acle: 2.4372410774230957 seconds
Elapsed time for Acocks Green: 2.440910816192627 seconds
Elapsed time for Acton Central: 2.4671900272369385 seconds
Elapsed time for Acton Main Line: 2.4553608894348145 seconds
Elapsed time for Adderley Park: 2.4539880752563477 seconds
Elapsed time for Addlestone: 2.4445300102233887 seconds
Elapsed time for Adisham: 2.440247058868408 seconds
Elapsed time for Adlington (Cheshire): 2.4607937335968018 seconds
Elapsed time for Adlington (Lancashire): 2.448356866836548 seconds
Elapsed time for Adwick: 2.4517099857330322 seconds
Elapsed time for Aigburth: 2.4520771503448486 seconds
Elapsed time for Ainsdale: 2.431140184402466 seconds
Elapsed time for Aintree: 2.4458348751068115 seconds
Elapsed time for Albany Park: 2.4494240283966064 seconds
Elapsed time for Albrighton: 2.4455621242523193 seconds
Elapsed time for Alderley Edge: 2.463047981262207 seconds
Elapsed time for Aldermaston: 2.435300827026367 seconds
Elapsed time for Aldershot: 2.4489810466766357 seconds
Elapsed time for Aldrington: 2.450542688369751 seconds
Elapsed time for Alexandra Palace: 2.4627137184143066 seconds
Elapsed time for Alfreton: 2.42586088180542 seconds
Elapsed time for Allens West: 2.477687120437622 seconds
Elapsed time for Alnmouth: 2.4894659519195557 seconds
Elapsed time for Alsager: 2.4717278480529785 seconds
Elapsed time for Althorpe: 2.458778142929077 seconds
Elapsed time for Alton: 2.450978994369507 seconds
Elapsed time for Altrincham: 2.4545340538024902 seconds
Elapsed time for Alvechurch: 2.4802298545837402 seconds
Elapsed time for Ambergate: 2.4638471603393555 seconds
Elapsed time for Amberley: 2.448941707611084 seconds
Elapsed time for Amersham: 2.4517040252685547 seconds
Elapsed time for Ancaster: 2.4324049949645996 seconds
Elapsed time for Andover: 2.4164888858795166 seconds
Elapsed time for Anerley: 2.4459941387176514 seconds
Elapsed time for Angmering: 2.452008008956909 seconds
Elapsed time for Apperley Bridge: 2.4601359367370605 seconds
Elapsed time for Appleby: 2.4618260860443115 seconds
Elapsed time for Appledore (Kent): 2.459514856338501 seconds
Elapsed time for Appleford: 2.444822072982788 seconds
Elapsed time for Appley Bridge: 2.443246841430664 seconds
Elapsed time for Apsley: 2.4590890407562256 seconds
Elapsed time for Ardwick: 2.4648869037628174 seconds
Elapsed time for Arlesey: 2.444483995437622 seconds
Elapsed time for Armathwaite: 2.457167148590088 seconds
Elapsed time for Arnside: 2.5191848278045654 seconds
Elapsed time for Arram: 2.4437239170074463 seconds
Elapsed time for Arundel: 2.4677140712738037 seconds
Elapsed time for Ascott-Under-Wychwood: 2.4357869625091553 seconds
Elapsed time for Ash: 2.447587013244629 seconds
Elapsed time for Ash Vale: 2.4635651111602783 seconds
Elapsed time for Ashburys: 2.4107720851898193 seconds
Elapsed time for Ashchurch for Tewkesbury: 2.429121971130371 seconds
Elapsed time for Ashford International: 2.4128870964050293 seconds
Elapsed time for Ashley: 2.4369542598724365 seconds
Elapsed time for Ashtead: 2.421308994293213 seconds
Elapsed time for Ashton-Under-Lyne: 2.448746919631958 seconds
Elapsed time for Ashurst New Forest: 2.422086000442505 seconds
Elapsed time for Askam: 2.434324026107788 seconds
Elapsed time for Aslockton: 2.4198217391967773 seconds
Elapsed time for Aspatria: 2.423194169998169 seconds
Elapsed time for Aspley Guise: 2.4051830768585205 seconds
Elapsed time for Aston: 2.4209041595458984 seconds
Elapsed time for Atherstone: 2.4272758960723877 seconds
Elapsed time for Atherton: 2.4485509395599365 seconds
Elapsed time for Attenborough: 2.4557621479034424 seconds
Elapsed time for Attleborough: 2.490744113922119 seconds
Elapsed time for Audley End: 2.4155960083007812 seconds
Elapsed time for Aughton Park: 2.4227659702301025 seconds
Elapsed time for Avoncliff: 2.4354331493377686 seconds
Elapsed time for Avonmouth: 2.4510200023651123 seconds
Elapsed time for Axminster: 2.4482128620147705 seconds
Elapsed time for Aylesbury: 2.4257450103759766 seconds
Elapsed time for Aylesbury Vale Parkway: 2.4283902645111084 seconds
Elapsed time for Aylesford: 2.4414892196655273 seconds
Elapsed time for Aylesham: 2.423327922821045 seconds
Elapsed time for Bache: 2.4354867935180664 seconds
Elapsed time for Bagshot: 2.4849421977996826 seconds
Elapsed time for Baildon: 2.4675889015197754 seconds

KeyboardInterrupt:

In [ ]:

# Join the distances to the properties dataframe
properties = pd.concat([properties, distances], axis=1)

In [ ]:
properties

       Postcode        Lat      Long
0       AL1 1AJ  51.744498 -0.328599
1       AL1 1AR  51.739727 -0.317492
2       AL1 1AS  51.749073 -0.335471
3       AL1 1AT  51.742011 -0.319421
4       AL1 1AU  51.741475 -0.319273
...         ...        ...       ...
670098  YO8 9XP  53.772109 -1.072308
670099  YO8 9YA  53.770419 -1.158828
670100  YO8 9YB  53.770000 -1.159352
670101  YO8 9YD  53.769733 -1.171313
670102  YO8 9YE  53.769682 -1.170434

[670103 rows x 3 columns]

In [ ]:
properties_stations_shortest_distance['Nearest_Station_Distance'] = distances.min(axis=1)
properties_stations_shortest_distance['Nearest_Station'] = distances.idxmin(axis=1)
properties_stations_shortest_distance

       Postcode        Lat      Long  Nearest_Station_Distance Nearest_Station
0       AL1 1AJ  51.744498 -0.328599                  4.838672    Bricket Wood
1       AL1 1AR  51.739727 -0.317492                  4.778527    Bricket Wood
2       AL1 1AS  51.749073 -0.335471                  5.134822    Bricket Wood
3       AL1 1AT  51.742011 -0.319421                  4.909981    Bricket Wood
4       AL1 1AU  51.741475 -0.319273                  4.866150    Bricket Wood
...         ...        ...       ...                       ...             ...
670098  YO8 9XP  53.772109 -1.072308                 23.278911          Adwick
670099  YO8 9YA  53.770419 -1.158828                 22.003275          Adwick
670100  YO8 9YB  53.770000 -1.159352                 21.954475          Adwick
670101  YO8 9YD  53.769733 -1.171313                 21.886628          Adwick
670102  YO8 9YE  53.769682 -1.170434                 21.882806          Adwick

[670103 rows x 5 columns]

In [ ]:
properties_stations_shortest_distance[properties_stations_shortest_distance["Postcode"] == "WA4 2EQ"]

       Postcode        Lat      Long  Nearest_Station_Distance Nearest_Station
632701  WA4 2EQ  53.374607 -2.557951                  4.600269       Birchwood