In [1]:
import pandas as pd
from haversine import haversine, Unit
import time
import numpy as np
import warnings

warnings.simplefilter("ignore")

In [2]:
# Load the data
properties = pd.read_csv('../data/Airport Distance/bq-unique-property-postcodes.csv')
properties_stations_shortest_distance = properties.copy()

# Load the station dataset
stations = pd.read_csv("../data/Train Distance/Location_of_UK_stations.csv")
stations = stations[['stationName', 'lat', 'long']]

# Load the regions dataset
regions = pd.read_csv("../data/Train Distance/bq-train-station-region.csv")
regions = regions[['Station name', 'Region']]
regions

        Station name                    Region
0         Abbey Wood                    London
1               Aber                     Wales
2          Abercynon                     Wales
3           Aberdare                     Wales
4           Aberdeen                  Scotland
...              ...                       ...
2566            York  Yorkshire and The Humber
2567          Yorton             West Midlands
2568   Ystrad Mynach                     Wales
2569  Ystrad Rhondda                     Wales
2570             NaN                       NaN

[2571 rows x 2 columns]

In [3]:
stations

         stationName        lat      long
0         Abbey Wood  51.490719  0.120343
1               Aber  51.575363 -3.230890
2          Abercynon  51.642620 -3.329549
3           Aberdare  51.715019 -3.443130
4           Aberdeen  57.143127 -2.097464
...              ...        ...       ...
2607           Yoker  55.892792 -4.387464
2608            York  53.957966 -1.093159
2609          Yorton  52.809009 -2.736450
2610   Ystrad Mynach  51.640884 -3.241342
2611  Ystrad Rhondda  51.644478 -3.475570

[2612 rows x 3 columns]

In [4]:
# Merge the datasets on station name
merged = pd.merge(stations, regions, left_on='stationName', right_on='Station name', how='left')
merged

,stationName,lat,long,Station name,Region
0,Abbey Wood,51.490719,0.120343,Abbey Wood,London
1,Aber,51.575363,-3.230890,Aber,Wales
2,Abercynon,51.642620,-3.329549,Abercynon,Wales
3,Aberdare,51.715019,-3.443130,Aberdare,Wales
4,Aberdeen,57.143127,-2.097464,Aberdeen,Scotland
...,...,...,...,...,...
2607,Yoker,55.892792,-4.387464,Yoker,Scotland
2608,York,53.957966,-1.093159,York,Yorkshire and The Humber
2609,Yorton,52.809009,-2.736450,Yorton,West Midlands
2610,Ystrad Mynach,51.640884,-3.241342,Ystrad Mynach,Wales
2611,Ystrad Rhondda,51.644478,-3.475570,Ystrad Rhondda,Wales

In [5]:

regions_to_exclude = ['Wales', 'Scotland', np.nan]  # list the regions to exclude
merged = merged[~merged['Region'].isin(regions_to_exclude)]

# regions = regions.dropna(subset=['Region'])
merged

,stationName,lat,long,Station name,Region
0,Abbey Wood,51.490719,0.120343,Abbey Wood,London
11,Accrington,53.753193,-2.370016,Accrington,North West
15,Acklington,55.307129,-1.651816,Acklington,North East
16,Acle,52.634647,1.543981,Acle,East of England
17,Acocks Green,52.449291,-1.818980,Acocks Green,West Midlands
...,...,...,...,...,...
2603,Yeovil Junction,50.924686,-2.613198,Yeovil Junction,South West
2604,Yeovil Pen Mill,50.944466,-2.613461,Yeovil Pen Mill,South West
2605,Yetminster,50.896114,-2.573004,Yetminster,South West
2608,York,53.957966,-1.093159,York,Yorkshire and The Humber
2609,Yorton,52.809009,-2.736450,Yorton,West Midlands

In [6]:
stations = merged[['stationName', 'lat', 'long']]
stations

          stationName        lat      long
0          Abbey Wood  51.490719  0.120343
11         Accrington  53.753193 -2.370016
15         Acklington  55.307129 -1.651816
16               Acle  52.634647  1.543981
17       Acocks Green  52.449291 -1.818980
...               ...        ...       ...
2603  Yeovil Junction  50.924686 -2.613198
2604  Yeovil Pen Mill  50.944466 -2.613461
2605       Yetminster  50.896114 -2.573004
2608             York  53.957966 -1.093159
2609           Yorton  52.809009 -2.736450

[1794 rows x 3 columns]

In [7]:
# Prepare a dataframe for the distances
distances = pd.DataFrame()

In [8]:
# Check the range of Lat and Long in properties data
print(properties['Lat'].min(), properties['Lat'].max())
print(properties['Long'].min(), properties['Long'].max())

49.895171 55.797415
-6.352647 1.762773

In [9]:
# Remove any rows with invalid Lat and Long values
properties = properties[(properties['Lat'] >= -90) & (properties['Lat'] <= 90)]
properties = properties[(properties['Long'] >= -180) & (properties['Long'] <= 180)]

In [10]:
properties

         Postcode        Lat      Long
0         GL8 8HA  51.640620 -2.152272
1         SS2 4RJ  51.547842  0.739400
2        DA14 6BQ  51.422746  0.099688
3         KT6 6HR  51.393117 -0.299780
4         ME7 4EB  51.380130  0.557023
...           ...        ...       ...
1192273  WS13 6SY  52.688117 -1.806688
1192274  LE17 6LB  52.454033 -1.057775
1192275   CB5 8FS  52.209282  0.136840
1192276   HD9 7BE  53.589470 -1.762828
1192277  MK45 1GH  52.012143 -0.506868

[1192278 rows x 3 columns]

In [11]:
# Haversine function to calculate distance
def haversine_np(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

# Start timing the operation
start_time = time.time()
# Iterate over each station
for i, station in stations.iterrows():
    station_loc_lon = station['long']
    station_loc_lat = station['lat']
    

    distances[station['stationName']] = haversine_np(properties['Long'], properties['Lat'], station_loc_lon, station_loc_lat)
    
# Calculate and print the elapsed time
elapsed_time = time.time() - start_time
print(f"Elapsed time for stations distances: {elapsed_time} seconds")

Elapsed time for stations distances: 68.32654118537903 seconds

In [12]:
# Join the distances to the properties dataframe
properties = pd.concat([properties, distances], axis=1)

In [13]:
properties

,Postcode,Lat,Long,Abbey Wood,Accrington,Acklington,Acle,Acocks Green,Acton Central,Acton Main Line,...,Yardley Wood,Yarm,Yate,Yatton,Yeoford,Yeovil Junction,Yeovil Pen Mill,Yetminster,York,Yorton
0,GL8 8HA,51.640620,-2.152272,157.860844,235.217136,408.780586,275.198430,92.705591,131.255660,130.870040,...,89.130489,322.830139,22.317199,54.332366,145.660482,85.766107,83.735553,87.752204,267.157928,135.789248
1,SS2 4RJ,51.547842,0.739400,43.274358,322.432237,446.680828,132.675674,201.658801,69.477169,69.697673,...,202.312281,357.284828,219.196860,247.524705,322.713976,243.298528,242.651829,241.620305,294.801144,275.165889
2,DA14 6BQ,51.422746,0.099688,7.687715,307.963215,446.966523,166.989611,174.038899,26.903486,27.493176,...,173.921975,356.202013,175.721982,202.946759,276.418323,196.933233,196.305668,195.230897,292.947966,247.326404
3,KT6 6HR,51.393117,-0.299780,31.055366,297.174006,444.072321,186.900296,156.887896,13.088109,13.930658,...,156.256892,353.075371,148.546217,175.287333,248.759889,169.416357,168.738633,167.817479,289.983682,228.933803
4,ME7 4EB,51.380130,0.557023,32.651852,329.531482,460.275414,154.891618,201.578878,58.605835,59.097178,...,201.798661,370.207610,207.740579,234.722773,306.400909,226.676936,226.168216,224.751559,307.267572,275.217893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192273,WS13 6SY,52.688117,-1.806688,187.116255,124.148488,291.213572,225.893175,26.552549,168.138262,167.255086,...,29.805100,204.198993,134.483383,160.152185,250.100455,203.642798,201.530240,205.981179,148.845757,63.967078
1192274,LE17 6LB,52.454033,-1.057775,134.025837,168.833650,319.426362,176.959736,51.553569,118.276564,117.343874,...,54.087470,228.888319,138.385181,169.315880,261.952422,200.897346,199.038754,202.163990,167.141312,119.891677
1192275,CB5 8FS,52.209282,0.136840,79.858424,239.901816,363.720304,106.429991,135.468624,82.558546,81.797629,...,137.304686,273.749119,191.285972,223.083873,311.018637,237.591089,236.258909,237.362856,210.945683,205.426578
1192276,HD9 7BE,53.589470,-1.762828,265.670973,43.918155,191.009704,244.735539,126.758097,252.429061,251.487128,...,129.937558,105.263633,232.133730,254.707198,339.943117,301.714952,299.558969,304.328487,60.090754,108.268103
1192277,MK45 1GH,52.012143,-0.506868,72.243743,230.290871,373.823622,155.517301,101.660353,58.391811,57.444701,...,102.399758,282.826542,142.391309,174.102813,262.009150,189.364252,187.959116,189.329009,219.756273,175.154611

In [14]:
distances

,Abbey Wood,Accrington,Acklington,Acle,Acocks Green,Acton Central,Acton Main Line,Adderley Park,Addlestone,Adisham,...,Yardley Wood,Yarm,Yate,Yatton,Yeoford,Yeovil Junction,Yeovil Pen Mill,Yetminster,York,Yorton
0,157.860844,235.217136,408.780586,275.198430,92.705591,131.255660,130.870040,95.853909,119.059063,236.329571,...,89.130489,322.830139,22.317199,54.332366,145.660482,85.766107,83.735553,87.752204,267.157928,135.789248
1,43.274358,322.432237,446.680828,132.675674,201.658801,69.477169,69.697673,205.588910,87.033740,46.655387,...,202.312281,357.284828,219.196860,247.524705,322.713976,243.298528,242.651829,241.620305,294.801144,275.165889
2,7.687715,307.963215,446.966523,166.989611,174.038899,26.903486,27.493176,178.318061,40.970483,78.961622,...,173.921975,356.202013,175.721982,202.946759,276.418323,196.933233,196.305668,195.230897,292.947966,247.326404
3,31.055366,297.174006,444.072321,186.900296,156.887896,13.088109,13.930658,161.307434,13.098756,105.470720,...,156.256892,353.075371,148.546217,175.287333,248.759889,169.416357,168.738633,167.817479,289.983682,228.933803
4,32.651852,329.531482,460.275414,154.891618,201.578878,58.605835,59.097178,205.724050,72.333283,47.203526,...,201.798661,370.207610,207.740579,234.722773,306.400909,226.676936,226.168216,224.751559,307.267572,275.217893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192273,187.116255,124.148488,291.213572,225.893175,26.552549,168.138262,167.255086,22.962549,171.845803,261.129664,...,29.805100,204.198993,134.483383,160.152185,250.100455,203.642798,201.530240,205.981179,148.845757,63.967078
1192274,134.025837,168.833650,319.426362,176.959736,51.553569,118.276564,117.343874,54.013390,126.429033,205.328877,...,54.087470,228.888319,138.385181,169.315880,261.952422,200.897346,199.038754,202.163990,167.141312,119.891677
1192275,79.858424,239.901816,363.720304,106.429991,135.468624,82.558546,81.797629,138.547968,102.368448,130.065128,...,137.304686,273.749119,191.285972,223.083873,311.018637,237.591089,236.258909,237.362856,210.945683,205.426578
1192276,265.670973,43.918155,191.009704,244.735539,126.758097,252.429061,251.487128,123.051966,261.080889,329.173023,...,129.937558,105.263633,232.133730,254.707198,339.943117,301.714952,299.558969,304.328487,60.090754,108.268103
1192277,72.243743,230.290871,373.823622,155.517301,101.660353,58.391811,57.444701,105.573770,71.104895,145.559294,...,102.399758,282.826542,142.391309,174.102813,262.009150,189.364252,187.959116,189.329009,219.756273,175.154611

In [15]:
properties

,Postcode,Lat,Long,Abbey Wood,Accrington,Acklington,Acle,Acocks Green,Acton Central,Acton Main Line,...,Yardley Wood,Yarm,Yate,Yatton,Yeoford,Yeovil Junction,Yeovil Pen Mill,Yetminster,York,Yorton
0,GL8 8HA,51.640620,-2.152272,157.860844,235.217136,408.780586,275.198430,92.705591,131.255660,130.870040,...,89.130489,322.830139,22.317199,54.332366,145.660482,85.766107,83.735553,87.752204,267.157928,135.789248
1,SS2 4RJ,51.547842,0.739400,43.274358,322.432237,446.680828,132.675674,201.658801,69.477169,69.697673,...,202.312281,357.284828,219.196860,247.524705,322.713976,243.298528,242.651829,241.620305,294.801144,275.165889
2,DA14 6BQ,51.422746,0.099688,7.687715,307.963215,446.966523,166.989611,174.038899,26.903486,27.493176,...,173.921975,356.202013,175.721982,202.946759,276.418323,196.933233,196.305668,195.230897,292.947966,247.326404
3,KT6 6HR,51.393117,-0.299780,31.055366,297.174006,444.072321,186.900296,156.887896,13.088109,13.930658,...,156.256892,353.075371,148.546217,175.287333,248.759889,169.416357,168.738633,167.817479,289.983682,228.933803
4,ME7 4EB,51.380130,0.557023,32.651852,329.531482,460.275414,154.891618,201.578878,58.605835,59.097178,...,201.798661,370.207610,207.740579,234.722773,306.400909,226.676936,226.168216,224.751559,307.267572,275.217893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192273,WS13 6SY,52.688117,-1.806688,187.116255,124.148488,291.213572,225.893175,26.552549,168.138262,167.255086,...,29.805100,204.198993,134.483383,160.152185,250.100455,203.642798,201.530240,205.981179,148.845757,63.967078
1192274,LE17 6LB,52.454033,-1.057775,134.025837,168.833650,319.426362,176.959736,51.553569,118.276564,117.343874,...,54.087470,228.888319,138.385181,169.315880,261.952422,200.897346,199.038754,202.163990,167.141312,119.891677
1192275,CB5 8FS,52.209282,0.136840,79.858424,239.901816,363.720304,106.429991,135.468624,82.558546,81.797629,...,137.304686,273.749119,191.285972,223.083873,311.018637,237.591089,236.258909,237.362856,210.945683,205.426578
1192276,HD9 7BE,53.589470,-1.762828,265.670973,43.918155,191.009704,244.735539,126.758097,252.429061,251.487128,...,129.937558,105.263633,232.133730,254.707198,339.943117,301.714952,299.558969,304.328487,60.090754,108.268103
1192277,MK45 1GH,52.012143,-0.506868,72.243743,230.290871,373.823622,155.517301,101.660353,58.391811,57.444701,...,102.399758,282.826542,142.391309,174.102813,262.009150,189.364252,187.959116,189.329009,219.756273,175.154611

In [16]:
# # Drop 'Nearest_Station' and 'Nearest_Station_Distance' columns before conversion and calculation
# properties = properties.drop(['Nearest_Station', 'Nearest_Station_Distance'], axis=1)

In [17]:
properties

,Postcode,Lat,Long,Abbey Wood,Accrington,Acklington,Acle,Acocks Green,Acton Central,Acton Main Line,...,Yardley Wood,Yarm,Yate,Yatton,Yeoford,Yeovil Junction,Yeovil Pen Mill,Yetminster,York,Yorton
0,GL8 8HA,51.640620,-2.152272,157.860844,235.217136,408.780586,275.198430,92.705591,131.255660,130.870040,...,89.130489,322.830139,22.317199,54.332366,145.660482,85.766107,83.735553,87.752204,267.157928,135.789248
1,SS2 4RJ,51.547842,0.739400,43.274358,322.432237,446.680828,132.675674,201.658801,69.477169,69.697673,...,202.312281,357.284828,219.196860,247.524705,322.713976,243.298528,242.651829,241.620305,294.801144,275.165889
2,DA14 6BQ,51.422746,0.099688,7.687715,307.963215,446.966523,166.989611,174.038899,26.903486,27.493176,...,173.921975,356.202013,175.721982,202.946759,276.418323,196.933233,196.305668,195.230897,292.947966,247.326404
3,KT6 6HR,51.393117,-0.299780,31.055366,297.174006,444.072321,186.900296,156.887896,13.088109,13.930658,...,156.256892,353.075371,148.546217,175.287333,248.759889,169.416357,168.738633,167.817479,289.983682,228.933803
4,ME7 4EB,51.380130,0.557023,32.651852,329.531482,460.275414,154.891618,201.578878,58.605835,59.097178,...,201.798661,370.207610,207.740579,234.722773,306.400909,226.676936,226.168216,224.751559,307.267572,275.217893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192273,WS13 6SY,52.688117,-1.806688,187.116255,124.148488,291.213572,225.893175,26.552549,168.138262,167.255086,...,29.805100,204.198993,134.483383,160.152185,250.100455,203.642798,201.530240,205.981179,148.845757,63.967078
1192274,LE17 6LB,52.454033,-1.057775,134.025837,168.833650,319.426362,176.959736,51.553569,118.276564,117.343874,...,54.087470,228.888319,138.385181,169.315880,261.952422,200.897346,199.038754,202.163990,167.141312,119.891677
1192275,CB5 8FS,52.209282,0.136840,79.858424,239.901816,363.720304,106.429991,135.468624,82.558546,81.797629,...,137.304686,273.749119,191.285972,223.083873,311.018637,237.591089,236.258909,237.362856,210.945683,205.426578
1192276,HD9 7BE,53.589470,-1.762828,265.670973,43.918155,191.009704,244.735539,126.758097,252.429061,251.487128,...,129.937558,105.263633,232.133730,254.707198,339.943117,301.714952,299.558969,304.328487,60.090754,108.268103
1192277,MK45 1GH,52.012143,-0.506868,72.243743,230.290871,373.823622,155.517301,101.660353,58.391811,57.444701,...,102.399758,282.826542,142.391309,174.102813,262.009150,189.364252,187.959116,189.329009,219.756273,175.154611

In [18]:
chunk_size = 5000
total_chunks = int(np.ceil(len(properties) / chunk_size))
start_time = time.time()

# Create an empty DataFrame to store results
properties_stations_shortest_distance = pd.DataFrame(columns=['Postcode', 'Nearest_Station_Distance', 'Nearest_Station'])

for i in range(0, len(properties), chunk_size):
    # Time the operation
    operation_start_time = time.time()
    
    # Get the chunk of data
    properties_chunk = properties.iloc[i:i + chunk_size]
    
    # Calculate and store the minimum distance and corresponding station for each chunk
    properties_chunk = properties_chunk.iloc[:,3:-2].astype(float)
    properties.loc[properties_chunk.index, 'Nearest_Station_Distance'] = properties_chunk.min(axis=1)
    properties.loc[properties_chunk.index, 'Nearest_Station'] = properties_chunk.idxmin(axis=1)

    # Append the results to the new DataFrame
    properties_stations_shortest_distance = properties_stations_shortest_distance.append(
        properties.loc[properties_chunk.index, ['Postcode', 'Nearest_Station_Distance', 'Nearest_Station']]
    )

    # Calculate and print the elapsed time for the operation and progress
    operation_elapsed_time = time.time() - operation_start_time
    total_elapsed_time = time.time() - start_time
    print(f'Processed chunk {i // chunk_size + 1} / {total_chunks}, operation time: {operation_elapsed_time} seconds, total elapsed time: {total_elapsed_time} seconds')

Processed chunk 1 / 239, operation time: 0.9358251094818115 seconds, total elapsed time: 0.9544351100921631 seconds
Processed chunk 2 / 239, operation time: 0.417741060256958 seconds, total elapsed time: 1.3722429275512695 seconds
Processed chunk 3 / 239, operation time: 0.5525329113006592 seconds, total elapsed time: 1.9248378276824951 seconds
Processed chunk 4 / 239, operation time: 0.36725401878356934 seconds, total elapsed time: 2.2921669483184814 seconds
Processed chunk 5 / 239, operation time: 0.676314115524292 seconds, total elapsed time: 2.968546152114868 seconds
Processed chunk 6 / 239, operation time: 0.9976696968078613 seconds, total elapsed time: 3.96628999710083 seconds
Processed chunk 7 / 239, operation time: 0.783595085144043 seconds, total elapsed time: 4.749984979629517 seconds
Processed chunk 8 / 239, operation time: 0.5386979579925537 seconds, total elapsed time: 5.288750886917114 seconds
Processed chunk 9 / 239, operation time: 0.40950989723205566 seconds, total elapsed time: 5.6983349323272705 seconds
Processed chunk 10 / 239, operation time: 0.9373288154602051 seconds, total elapsed time: 6.6357340812683105 seconds
Processed chunk 11 / 239, operation time: 0.6597580909729004 seconds, total elapsed time: 7.2955639362335205 seconds
Processed chunk 12 / 239, operation time: 0.6012089252471924 seconds, total elapsed time: 7.896841049194336 seconds
Processed chunk 13 / 239, operation time: 0.48116302490234375 seconds, total elapsed time: 8.378148794174194 seconds
Processed chunk 14 / 239, operation time: 0.5095250606536865 seconds, total elapsed time: 8.88775086402893 seconds
Processed chunk 15 / 239, operation time: 0.446408748626709 seconds, total elapsed time: 9.334229946136475 seconds
Processed chunk 16 / 239, operation time: 0.6023638248443604 seconds, total elapsed time: 9.936668872833252 seconds
Processed chunk 17 / 239, operation time: 0.5315878391265869 seconds, total elapsed time: 10.468336820602417 seconds
Processed chunk 18 / 239, operation time: 0.533660888671875 seconds, total elapsed time: 11.002071142196655 seconds
Processed chunk 19 / 239, operation time: 0.7094500064849854 seconds, total elapsed time: 11.711596012115479 seconds
Processed chunk 20 / 239, operation time: 0.46146297454833984 seconds, total elapsed time: 12.173134803771973 seconds
Processed chunk 21 / 239, operation time: 0.6604359149932861 seconds, total elapsed time: 12.833639860153198 seconds
Processed chunk 22 / 239, operation time: 0.5313751697540283 seconds, total elapsed time: 13.365177869796753 seconds
Processed chunk 23 / 239, operation time: 0.6702859401702881 seconds, total elapsed time: 14.035539865493774 seconds
Processed chunk 24 / 239, operation time: 0.5229241847991943 seconds, total elapsed time: 14.558531045913696 seconds
Processed chunk 25 / 239, operation time: 0.700075626373291 seconds, total elapsed time: 15.258683919906616 seconds
Processed chunk 26 / 239, operation time: 0.532750129699707 seconds, total elapsed time: 15.791584014892578 seconds
Processed chunk 27 / 239, operation time: 0.5050039291381836 seconds, total elapsed time: 16.296663999557495 seconds
Processed chunk 28 / 239, operation time: 0.7403490543365479 seconds, total elapsed time: 17.037086963653564 seconds
Processed chunk 29 / 239, operation time: 0.5047650337219238 seconds, total elapsed time: 17.541924953460693 seconds
Processed chunk 30 / 239, operation time: 0.6962816715240479 seconds, total elapsed time: 18.23828101158142 seconds
Processed chunk 31 / 239, operation time: 0.5105798244476318 seconds, total elapsed time: 18.748976945877075 seconds
Processed chunk 32 / 239, operation time: 0.7596962451934814 seconds, total elapsed time: 19.508759021759033 seconds
Processed chunk 33 / 239, operation time: 0.5319850444793701 seconds, total elapsed time: 20.040817975997925 seconds
Processed chunk 34 / 239, operation time: 0.790053129196167 seconds, total elapsed time: 20.830944061279297 seconds
Processed chunk 35 / 239, operation time: 0.47872090339660645 seconds, total elapsed time: 21.309746026992798 seconds
Processed chunk 36 / 239, operation time: 0.596184253692627 seconds, total elapsed time: 21.906020879745483 seconds
Processed chunk 37 / 239, operation time: 0.6504230499267578 seconds, total elapsed time: 22.556524991989136 seconds
Processed chunk 38 / 239, operation time: 0.5969207286834717 seconds, total elapsed time: 23.15352201461792 seconds
Processed chunk 39 / 239, operation time: 0.7446539402008057 seconds, total elapsed time: 23.898251056671143 seconds
Processed chunk 40 / 239, operation time: 0.47905731201171875 seconds, total elapsed time: 24.37738013267517 seconds
Processed chunk 41 / 239, operation time: 0.751776933670044 seconds, total elapsed time: 25.129245042800903 seconds
Processed chunk 42 / 239, operation time: 0.5287349224090576 seconds, total elapsed time: 25.65809679031372 seconds
Processed chunk 43 / 239, operation time: 0.5240659713745117 seconds, total elapsed time: 26.182239055633545 seconds
Processed chunk 44 / 239, operation time: 0.7407491207122803 seconds, total elapsed time: 26.923059940338135 seconds
Processed chunk 45 / 239, operation time: 0.5227808952331543 seconds, total elapsed time: 27.445919036865234 seconds
Processed chunk 46 / 239, operation time: 0.8044509887695312 seconds, total elapsed time: 28.250446796417236 seconds
Processed chunk 47 / 239, operation time: 0.5298352241516113 seconds, total elapsed time: 28.780366897583008 seconds
Processed chunk 48 / 239, operation time: 0.8401939868927002 seconds, total elapsed time: 29.620643138885498 seconds
Processed chunk 49 / 239, operation time: 0.7177679538726807 seconds, total elapsed time: 30.338496923446655 seconds
Processed chunk 50 / 239, operation time: 0.7018108367919922 seconds, total elapsed time: 31.040394067764282 seconds
Processed chunk 51 / 239, operation time: 0.6068038940429688 seconds, total elapsed time: 31.64728093147278 seconds
Processed chunk 52 / 239, operation time: 0.5557959079742432 seconds, total elapsed time: 32.20319199562073 seconds
Processed chunk 53 / 239, operation time: 0.8592140674591064 seconds, total elapsed time: 33.0624897480011 seconds
Processed chunk 54 / 239, operation time: 0.5004637241363525 seconds, total elapsed time: 33.56303787231445 seconds
Processed chunk 55 / 239, operation time: 0.6669819355010986 seconds, total elapsed time: 34.23010516166687 seconds
Processed chunk 56 / 239, operation time: 0.4997060298919678 seconds, total elapsed time: 34.72988796234131 seconds
Processed chunk 57 / 239, operation time: 0.6918091773986816 seconds, total elapsed time: 35.42176795005798 seconds
Processed chunk 58 / 239, operation time: 0.47957897186279297 seconds, total elapsed time: 35.90143013000488 seconds
Processed chunk 59 / 239, operation time: 0.8954849243164062 seconds, total elapsed time: 36.79707193374634 seconds
Processed chunk 60 / 239, operation time: 0.486630916595459 seconds, total elapsed time: 37.28378081321716 seconds
Processed chunk 61 / 239, operation time: 0.5396318435668945 seconds, total elapsed time: 37.823492765426636 seconds
Processed chunk 62 / 239, operation time: 0.635673999786377 seconds, total elapsed time: 38.45924782752991 seconds
Processed chunk 63 / 239, operation time: 0.509023904800415 seconds, total elapsed time: 38.968350887298584 seconds
Processed chunk 64 / 239, operation time: 0.6972358226776123 seconds, total elapsed time: 39.66566610336304 seconds
Processed chunk 65 / 239, operation time: 0.5108399391174316 seconds, total elapsed time: 40.17658185958862 seconds
Processed chunk 66 / 239, operation time: 0.7612748146057129 seconds, total elapsed time: 40.937936782836914 seconds
Processed chunk 67 / 239, operation time: 0.5245320796966553 seconds, total elapsed time: 41.46254897117615 seconds
Processed chunk 68 / 239, operation time: 0.6450338363647461 seconds, total elapsed time: 42.107659101486206 seconds
Processed chunk 69 / 239, operation time: 0.5739080905914307 seconds, total elapsed time: 42.68163990974426 seconds
Processed chunk 70 / 239, operation time: 0.5505609512329102 seconds, total elapsed time: 43.23229098320007 seconds
Processed chunk 71 / 239, operation time: 0.710258960723877 seconds, total elapsed time: 43.9426429271698 seconds
Processed chunk 72 / 239, operation time: 0.5825111865997314 seconds, total elapsed time: 44.52523589134216 seconds
Processed chunk 73 / 239, operation time: 0.6797151565551758 seconds, total elapsed time: 45.20503878593445 seconds
Processed chunk 74 / 239, operation time: 0.5760140419006348 seconds, total elapsed time: 45.78114295005798 seconds
Processed chunk 75 / 239, operation time: 0.8797907829284668 seconds, total elapsed time: 46.66100883483887 seconds
Processed chunk 76 / 239, operation time: 0.6678910255432129 seconds, total elapsed time: 47.328980922698975 seconds
Processed chunk 77 / 239, operation time: 0.48903608322143555 seconds, total elapsed time: 47.81809902191162 seconds
Processed chunk 78 / 239, operation time: 0.7266919612884521 seconds, total elapsed time: 48.54487085342407 seconds
Processed chunk 79 / 239, operation time: 0.6397788524627686 seconds, total elapsed time: 49.18473196029663 seconds
Processed chunk 80 / 239, operation time: 0.7586801052093506 seconds, total elapsed time: 49.94353485107422 seconds
Processed chunk 81 / 239, operation time: 0.5442039966583252 seconds, total elapsed time: 50.48782014846802 seconds
Processed chunk 82 / 239, operation time: 0.6689472198486328 seconds, total elapsed time: 51.15685701370239 seconds
Processed chunk 83 / 239, operation time: 0.5428211688995361 seconds, total elapsed time: 51.69975709915161 seconds
Processed chunk 84 / 239, operation time: 0.6890578269958496 seconds, total elapsed time: 52.38889503479004 seconds
Processed chunk 85 / 239, operation time: 0.5100908279418945 seconds, total elapsed time: 52.899070024490356 seconds
Processed chunk 86 / 239, operation time: 0.5984189510345459 seconds, total elapsed time: 53.497565031051636 seconds
Processed chunk 87 / 239, operation time: 0.7948071956634521 seconds, total elapsed time: 54.292454957962036 seconds
Processed chunk 88 / 239, operation time: 0.6630651950836182 seconds, total elapsed time: 54.955657958984375 seconds
Processed chunk 89 / 239, operation time: 0.6839807033538818 seconds, total elapsed time: 55.63971781730652 seconds
Processed chunk 90 / 239, operation time: 0.5095651149749756 seconds, total elapsed time: 56.149369955062866 seconds
Processed chunk 91 / 239, operation time: 0.7612159252166748 seconds, total elapsed time: 56.91065979003906 seconds
Processed chunk 92 / 239, operation time: 0.6162970066070557 seconds, total elapsed time: 57.52703785896301 seconds
Processed chunk 93 / 239, operation time: 0.6532509326934814 seconds, total elapsed time: 58.18037986755371 seconds
Processed chunk 94 / 239, operation time: 0.5192651748657227 seconds, total elapsed time: 58.69972610473633 seconds
Processed chunk 95 / 239, operation time: 0.48670506477355957 seconds, total elapsed time: 59.18651080131531 seconds
Processed chunk 96 / 239, operation time: 0.6645808219909668 seconds, total elapsed time: 59.851173877716064 seconds
Processed chunk 97 / 239, operation time: 0.460615873336792 seconds, total elapsed time: 60.311914920806885 seconds
Processed chunk 98 / 239, operation time: 0.7563068866729736 seconds, total elapsed time: 61.06831908226013 seconds
Processed chunk 99 / 239, operation time: 0.4852561950683594 seconds, total elapsed time: 61.55365705490112 seconds
Processed chunk 100 / 239, operation time: 0.6127989292144775 seconds, total elapsed time: 62.16655993461609 seconds
Processed chunk 101 / 239, operation time: 0.5121560096740723 seconds, total elapsed time: 62.67880988121033 seconds
Processed chunk 102 / 239, operation time: 0.7718172073364258 seconds, total elapsed time: 63.45093774795532 seconds
Processed chunk 103 / 239, operation time: 0.5295348167419434 seconds, total elapsed time: 63.980551958084106 seconds
Processed chunk 104 / 239, operation time: 0.4489259719848633 seconds, total elapsed time: 64.4295711517334 seconds
Processed chunk 105 / 239, operation time: 0.7903501987457275 seconds, total elapsed time: 65.22005295753479 seconds
Processed chunk 106 / 239, operation time: 0.5239448547363281 seconds, total elapsed time: 65.74407696723938 seconds
Processed chunk 107 / 239, operation time: 0.6576089859008789 seconds, total elapsed time: 66.40176105499268 seconds
Processed chunk 108 / 239, operation time: 0.520122766494751 seconds, total elapsed time: 66.9219720363617 seconds
Processed chunk 109 / 239, operation time: 0.6911518573760986 seconds, total elapsed time: 67.61321592330933 seconds
Processed chunk 110 / 239, operation time: 0.4628279209136963 seconds, total elapsed time: 68.07612705230713 seconds
Processed chunk 111 / 239, operation time: 0.482896089553833 seconds, total elapsed time: 68.55910301208496 seconds
Processed chunk 112 / 239, operation time: 0.6955878734588623 seconds, total elapsed time: 69.2547709941864 seconds
Processed chunk 113 / 239, operation time: 0.45531320571899414 seconds, total elapsed time: 69.7101697921753 seconds
Processed chunk 114 / 239, operation time: 0.6136140823364258 seconds, total elapsed time: 70.32386589050293 seconds
Processed chunk 115 / 239, operation time: 0.4983479976654053 seconds, total elapsed time: 70.8222930431366 seconds
Processed chunk 116 / 239, operation time: 0.7183451652526855 seconds, total elapsed time: 71.54072093963623 seconds
Processed chunk 117 / 239, operation time: 0.5435309410095215 seconds, total elapsed time: 72.08436512947083 seconds
Processed chunk 118 / 239, operation time: 0.6360318660736084 seconds, total elapsed time: 72.72048497200012 seconds
Processed chunk 119 / 239, operation time: 0.5838630199432373 seconds, total elapsed time: 73.30443596839905 seconds
Processed chunk 120 / 239, operation time: 0.448087215423584 seconds, total elapsed time: 73.75260186195374 seconds
Processed chunk 121 / 239, operation time: 0.6713237762451172 seconds, total elapsed time: 74.42400884628296 seconds
Processed chunk 122 / 239, operation time: 0.5819761753082275 seconds, total elapsed time: 75.00606799125671 seconds
Processed chunk 123 / 239, operation time: 0.6945459842681885 seconds, total elapsed time: 75.70069098472595 seconds
Processed chunk 124 / 239, operation time: 0.5247490406036377 seconds, total elapsed time: 76.22553396224976 seconds
Processed chunk 125 / 239, operation time: 0.7293288707733154 seconds, total elapsed time: 76.95498609542847 seconds
Processed chunk 126 / 239, operation time: 0.5394906997680664 seconds, total elapsed time: 77.49456596374512 seconds
Processed chunk 127 / 239, operation time: 0.7249259948730469 seconds, total elapsed time: 78.21956515312195 seconds
Processed chunk 128 / 239, operation time: 0.5098838806152344 seconds, total elapsed time: 78.72954297065735 seconds
Processed chunk 129 / 239, operation time: 0.46604180335998535 seconds, total elapsed time: 79.19566702842712 seconds
Processed chunk 130 / 239, operation time: 0.5842978954315186 seconds, total elapsed time: 79.78004002571106 seconds
Processed chunk 131 / 239, operation time: 0.44048404693603516 seconds, total elapsed time: 80.2206118106842 seconds
Processed chunk 132 / 239, operation time: 0.617805004119873 seconds, total elapsed time: 80.83848905563354 seconds
Processed chunk 133 / 239, operation time: 0.43004488945007324 seconds, total elapsed time: 81.26861500740051 seconds
Processed chunk 134 / 239, operation time: 0.5646519660949707 seconds, total elapsed time: 81.83334398269653 seconds
Processed chunk 135 / 239, operation time: 0.44359898567199707 seconds, total elapsed time: 82.27702808380127 seconds
Processed chunk 136 / 239, operation time: 0.609907865524292 seconds, total elapsed time: 82.88701009750366 seconds
Processed chunk 137 / 239, operation time: 0.4660069942474365 seconds, total elapsed time: 83.35310292243958 seconds
Processed chunk 138 / 239, operation time: 0.5625910758972168 seconds, total elapsed time: 83.91577291488647 seconds
Processed chunk 139 / 239, operation time: 0.6066679954528809 seconds, total elapsed time: 84.52252697944641 seconds
Processed chunk 140 / 239, operation time: 0.44621777534484863 seconds, total elapsed time: 84.96882796287537 seconds
Processed chunk 141 / 239, operation time: 0.6319029331207275 seconds, total elapsed time: 85.60081315040588 seconds
Processed chunk 142 / 239, operation time: 0.46030688285827637 seconds, total elapsed time: 86.06123185157776 seconds
Processed chunk 143 / 239, operation time: 0.6013538837432861 seconds, total elapsed time: 86.66266298294067 seconds
Processed chunk 144 / 239, operation time: 0.4387779235839844 seconds, total elapsed time: 87.10153079032898 seconds
Processed chunk 145 / 239, operation time: 0.6134898662567139 seconds, total elapsed time: 87.71509885787964 seconds
Processed chunk 146 / 239, operation time: 0.4307410717010498 seconds, total elapsed time: 88.14592599868774 seconds
Processed chunk 147 / 239, operation time: 0.4412569999694824 seconds, total elapsed time: 88.58726286888123 seconds
Processed chunk 148 / 239, operation time: 0.567695140838623 seconds, total elapsed time: 89.15504002571106 seconds
Processed chunk 149 / 239, operation time: 0.4781639575958252 seconds, total elapsed time: 89.63328886032104 seconds
Processed chunk 150 / 239, operation time: 0.637465238571167 seconds, total elapsed time: 90.27084803581238 seconds
Processed chunk 151 / 239, operation time: 0.44187498092651367 seconds, total elapsed time: 90.71280694007874 seconds
Processed chunk 152 / 239, operation time: 0.6182749271392822 seconds, total elapsed time: 91.3311939239502 seconds
Processed chunk 153 / 239, operation time: 0.46511197090148926 seconds, total elapsed time: 91.79639387130737 seconds
Processed chunk 154 / 239, operation time: 0.43428802490234375 seconds, total elapsed time: 92.23076677322388 seconds
Processed chunk 155 / 239, operation time: 0.6108651161193848 seconds, total elapsed time: 92.84171080589294 seconds
Processed chunk 156 / 239, operation time: 0.4405219554901123 seconds, total elapsed time: 93.28232192993164 seconds
Processed chunk 157 / 239, operation time: 0.5868000984191895 seconds, total elapsed time: 93.8692090511322 seconds
Processed chunk 158 / 239, operation time: 0.47072291374206543 seconds, total elapsed time: 94.34001111984253 seconds
Processed chunk 159 / 239, operation time: 0.5741560459136963 seconds, total elapsed time: 94.9142541885376 seconds
Processed chunk 160 / 239, operation time: 0.4636502265930176 seconds, total elapsed time: 95.37799501419067 seconds
Processed chunk 161 / 239, operation time: 0.5531280040740967 seconds, total elapsed time: 95.93125987052917 seconds
Processed chunk 162 / 239, operation time: 0.4554612636566162 seconds, total elapsed time: 96.38681697845459 seconds
Processed chunk 163 / 239, operation time: 0.4248847961425781 seconds, total elapsed time: 96.81178689002991 seconds
Processed chunk 164 / 239, operation time: 0.5732309818267822 seconds, total elapsed time: 97.38510799407959 seconds
Processed chunk 165 / 239, operation time: 0.43672990798950195 seconds, total elapsed time: 97.82191586494446 seconds
Processed chunk 166 / 239, operation time: 0.5439801216125488 seconds, total elapsed time: 98.36599802970886 seconds
Processed chunk 167 / 239, operation time: 0.4249398708343506 seconds, total elapsed time: 98.79101705551147 seconds
Processed chunk 168 / 239, operation time: 0.567863941192627 seconds, total elapsed time: 99.35895895957947 seconds
Processed chunk 169 / 239, operation time: 0.4391160011291504 seconds, total elapsed time: 99.79819893836975 seconds
Processed chunk 170 / 239, operation time: 0.572455883026123 seconds, total elapsed time: 100.37073802947998 seconds
Processed chunk 171 / 239, operation time: 0.4448390007019043 seconds, total elapsed time: 100.81566381454468 seconds

In [19]:
# properties_stations_shortest_distance = properties[['Postcode', 'Nearest_Station_Distance', 'Nearest_Station']]
# properties_stations_shortest_distance

In [20]:
properties_stations_shortest_distance

         Postcode  Nearest_Station_Distance         Nearest_Station
0         GL8 8HA                  9.742920                  Kemble
1         SS2 4RJ                  1.111976           Southend East
2        DA14 6BQ                  1.315313                  Sidcup
3         KT6 6HR                  0.299212                Surbiton
4         ME7 4EB                  0.904389       Gillingham (Kent)
...           ...                       ...                     ...
1192273  WS13 6SY                  0.469461  Lichfield Trent Valley
1192274  LE17 6LB                 10.497000       Market Harborough
1192275   CB5 8FS                  1.641322               Cambridge
1192276   HD9 7BE                  0.985377              Brockholes
1192277  MK45 1GH                  1.252473                Flitwick

[1192278 rows x 3 columns]

In [21]:
properties_stations_shortest_distance[properties_stations_shortest_distance["Postcode"] == "SW2 3BQ"]

       Postcode  Nearest_Station_Distance Nearest_Station
425421  SW2 3BQ                   0.48038  Streatham Hill

In [22]:
# Specify the output file path for the merged CSV file
output_file_path = f'../data/properties_trains_shortest_distance.csv'

# Write the merged_data DataFrame to a CSV file
properties_stations_shortest_distance.to_csv(output_file_path, index=False)