In [1]:
import pandas as pd
from haversine import haversine, Unit
import time
import numpy as np

In [2]:
# Load the data
properties = pd.read_csv('../data/pp-complete.csv')
properties

,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07 00:00,MK15 9HP,D,N,F,31,Unnamed: 8,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES.1,MILTON KEYNES.2,A,A.1
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03 00:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13 00:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28 00:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28 00:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,1995-03-10 00:00,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28276222,{F3B6C198-17C3-6E40-E053-6C04A8C0B3B4},490000,2023-01-13 00:00,RM1 4SR,T,N,F,12,NaN,HEATHER GLEN,NaN,ROMFORD,HAVERING,GREATER LONDON,A,A
28276223,{F3B6C198-17C9-6E40-E053-6C04A8C0B3B4},365000,2023-01-10 00:00,SS2 4UA,F,N,L,"CENTENARY PLACE, 1",FLAT 22,SOUTHCHURCH BOULEVARD,NaN,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
28276224,{F3B6C198-17D8-6E40-E053-6C04A8C0B3B4},730000,2023-01-05 00:00,CO13 0EY,S,N,F,HIGH VIEW,NaN,LITTLE CLACTON ROAD,GREAT HOLLAND,FRINTON-ON-SEA,TENDRING,ESSEX,A,A
28276225,{F3B6C198-1807-6E40-E053-6C04A8C0B3B4},379000,2023-01-06 00:00,CO15 5NA,D,N,F,12,NaN,DULWICH ROAD,HOLLAND-ON-SEA,CLACTON-ON-SEA,TENDRING,ESSEX,A,A
28276226,{F3B6C198-182F-6E40-E053-6C04A8C0B3B4},450000,2023-01-05 00:00,CO7 7PZ,D,N,F,21,NaN,INGRAMS PIECE,ARDLEIGH,COLCHESTER,TENDRING,ESSEX,A,A

In [3]:
column_names = ["Transaction unique identifier", "Price", "Date of Transfer", "Postcode", "Property_Type", "Old_New", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD_Category_Type", "Record_Status"]
properties.columns = column_names
properties

,Transaction unique identifier,Price,Date of Transfer,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category_Type,Record_Status
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03 00:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13 00:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28 00:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28 00:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,1995-03-10 00:00,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28276222,{F3B6C198-17C3-6E40-E053-6C04A8C0B3B4},490000,2023-01-13 00:00,RM1 4SR,T,N,F,12,NaN,HEATHER GLEN,NaN,ROMFORD,HAVERING,GREATER LONDON,A,A
28276223,{F3B6C198-17C9-6E40-E053-6C04A8C0B3B4},365000,2023-01-10 00:00,SS2 4UA,F,N,L,"CENTENARY PLACE, 1",FLAT 22,SOUTHCHURCH BOULEVARD,NaN,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
28276224,{F3B6C198-17D8-6E40-E053-6C04A8C0B3B4},730000,2023-01-05 00:00,CO13 0EY,S,N,F,HIGH VIEW,NaN,LITTLE CLACTON ROAD,GREAT HOLLAND,FRINTON-ON-SEA,TENDRING,ESSEX,A,A
28276225,{F3B6C198-1807-6E40-E053-6C04A8C0B3B4},379000,2023-01-06 00:00,CO15 5NA,D,N,F,12,NaN,DULWICH ROAD,HOLLAND-ON-SEA,CLACTON-ON-SEA,TENDRING,ESSEX,A,A
28276226,{F3B6C198-182F-6E40-E053-6C04A8C0B3B4},450000,2023-01-05 00:00,CO7 7PZ,D,N,F,21,NaN,INGRAMS PIECE,ARDLEIGH,COLCHESTER,TENDRING,ESSEX,A,A

In [4]:
# Convert 'Date of Transfer' to datetime if it's not already
properties['Date of Transfer'] = pd.to_datetime(properties['Date of Transfer'])

# Filter out data of 2023
properties = properties[properties['Date of Transfer'].dt.year < 2023]
properties

,Transaction unique identifier,Price,Date of Transfer,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category_Type,Record_Status
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,1995-03-10,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28147319,{E2D14905-969C-4C2D-E053-6B04A8C0422B},475000,2022-05-27,ME19 4SA,S,N,F,31,NaN,SAXON CLOSE,KINGS HILL,WEST MALLING,TONBRIDGE AND MALLING,KENT,A,A
28147320,{E2D14905-969D-4C2D-E053-6B04A8C0422B},365200,2022-03-01,DA9 9NN,S,N,F,2,NaN,HIGH STREET,NaN,GREENHITHE,DARTFORD,KENT,B,A
28147321,{E2D14905-969E-4C2D-E053-6B04A8C0422B},243000,2022-03-17,TN24 9JP,T,N,F,18,NaN,NINE ACRES,KENNINGTON,ASHFORD,ASHFORD,KENT,A,A
28147322,{E2D14905-969F-4C2D-E053-6B04A8C0422B},377000,2022-04-22,TN28 8XH,S,N,F,19,NaN,ELLIS DRIVE,NaN,NEW ROMNEY,FOLKESTONE AND HYTHE,KENT,A,A
28147323,{E2D14905-96A0-4C2D-E053-6B04A8C0422B},247000,2022-05-23,ME10 3QY,T,N,F,72,NaN,PORTLAND AVENUE,NaN,SITTINGBOURNE,SWALE,KENT,A,A

In [5]:
missing_postcodes = properties['Postcode'].isna().sum()
print(f"Number of missing postcodes: {missing_postcodes}")

Number of missing postcodes: 45834

In [6]:
# List of postcode prefixes for Wales
wales_postcode_start = ['LL', 'NP', 'CF', 'SA', 'CH', 'SY', 'HR', 'LD']

# Create a boolean mask
mask = properties['Postcode'].str[:2].isin(wales_postcode_start)

# Invert the mask, to get only rows that are not in Wales
properties = properties[~mask]

# Checking the result
properties

,Transaction unique identifier,Price,Date of Transfer,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category_Type,Record_Status
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,1995-03-10,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28147319,{E2D14905-969C-4C2D-E053-6B04A8C0422B},475000,2022-05-27,ME19 4SA,S,N,F,31,NaN,SAXON CLOSE,KINGS HILL,WEST MALLING,TONBRIDGE AND MALLING,KENT,A,A
28147320,{E2D14905-969D-4C2D-E053-6B04A8C0422B},365200,2022-03-01,DA9 9NN,S,N,F,2,NaN,HIGH STREET,NaN,GREENHITHE,DARTFORD,KENT,B,A
28147321,{E2D14905-969E-4C2D-E053-6B04A8C0422B},243000,2022-03-17,TN24 9JP,T,N,F,18,NaN,NINE ACRES,KENNINGTON,ASHFORD,ASHFORD,KENT,A,A
28147322,{E2D14905-969F-4C2D-E053-6B04A8C0422B},377000,2022-04-22,TN28 8XH,S,N,F,19,NaN,ELLIS DRIVE,NaN,NEW ROMNEY,FOLKESTONE AND HYTHE,KENT,A,A
28147323,{E2D14905-96A0-4C2D-E053-6B04A8C0422B},247000,2022-05-23,ME10 3QY,T,N,F,72,NaN,PORTLAND AVENUE,NaN,SITTINGBOURNE,SWALE,KENT,A,A

In [7]:
num_unique_postcodes = properties['Postcode'].nunique()
print(f'The number of unique postcodes is: {num_unique_postcodes}')

The number of unique postcodes is: 1193459

In [8]:
postcodes = pd.read_csv("../data/NSPL21_MAY_2023_UK.csv")
postcodes

/var/folders/nr/xgt7yplx50b7g0btpmjwcjf00000gn/T/ipykernel_768/4145548786.py:1: DtypeWarning: Columns (26,31) have mixed types. Specify dtype option on import or set low_memory=False.
  postcodes = pd.read_csv("../data/NSPL21_MAY_2023_UK.csv")

,pcd,pcd2,pcds,dointr,doterm,usertype,oseast1m,osnrth1m,osgrdind,oa21,...,bua22,ru11ind,oac11,lat,long,lep1,lep2,pfa,imd,icb
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,0,385386.0,801193.0,1,S00090303,...,S99999999,3.0,1C3,57.101474,-2.242851,S99999999,NaN,S23000009,6715,S99999999
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,0,385177.0,801314.0,1,S00090303,...,S99999999,3.0,1C3,57.102554,-2.246308,S99999999,NaN,S23000009,6715,S99999999
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,0,385053.0,801092.0,1,S00090399,...,S99999999,3.0,6A1,57.100556,-2.248342,S99999999,NaN,S23000009,6715,S99999999
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,0,384600.0,799300.0,8,S00091322,...,S99999999,6.0,1A2,57.084444,-2.255708,S99999999,NaN,S23000009,5069,S99999999
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,1,384460.0,800660.0,8,S00090299,...,S99999999,3.0,6A4,57.096656,-2.258102,S99999999,NaN,S23000009,6253,S99999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2690846,ZE3 9JW,ZE3 9JW,ZE3 9JW,198001,NaN,0,438975.0,1110038.0,1,S00129022,...,S99999999,8,1B1,59.873651,-1.305697,S99999999,NaN,S23000009,4141,S99999999
2690847,ZE3 9JX,ZE3 9JX,ZE3 9JX,198001,NaN,0,438872.0,1110219.0,1,S00129022,...,S99999999,8,1B1,59.875286,-1.307502,S99999999,NaN,S23000009,4141,S99999999
2690848,ZE3 9JY,ZE3 9JY,ZE3 9JY,198001,NaN,0,438498.0,1112029.0,1,S00129025,...,S99999999,8,1A1,59.891572,-1.313847,S99999999,NaN,S23000009,4141,S99999999
2690849,ZE3 9JZ,ZE3 9JZ,ZE3 9JZ,198001,NaN,0,438662.0,1112122.0,1,S00129025,...,S99999999,8,1A1,59.892392,-1.310899,S99999999,NaN,S23000009,4141,S99999999
2690850,ZE3 9XP,ZE3 9XP,ZE3 9XP,198107,199207.0,1,438854.0,1111535.0,8,S00129024,...,S99999999,8,1B3,59.887104,-1.307578,S99999999,NaN,S23000009,4141,S99999999

In [9]:
print((postcodes['pcd'] == postcodes['pcd2']).all())
print((postcodes['pcd'] == postcodes['pcds']).all())
print((postcodes['pcd2'] == postcodes['pcds']).all())

False
False
False

In [10]:
diff_pcd_pcd2 = postcodes[postcodes['pcd'] != postcodes['pcd2']]
diff_pcd_pcds = postcodes[postcodes['pcd'] != postcodes['pcds']]
diff_pcd2_pcds = postcodes[postcodes['pcd2'] != postcodes['pcds']]

# Print a few rows from each dataframe
print(diff_pcd_pcd2.head())
print(diff_pcd_pcds.head())
print(diff_pcd2_pcds.head())

       pcd      pcd2     pcds  dointr    doterm  usertype  oseast1m  osnrth1m  \
0  AB1 0AA  AB1  0AA  AB1 0AA  198001  199606.0         0  385386.0  801193.0
1  AB1 0AB  AB1  0AB  AB1 0AB  198001  199606.0         0  385177.0  801314.0
2  AB1 0AD  AB1  0AD  AB1 0AD  198001  199606.0         0  385053.0  801092.0
3  AB1 0AE  AB1  0AE  AB1 0AE  199402  199606.0         0  384600.0  799300.0
4  AB1 0AF  AB1  0AF  AB1 0AF  199012  199207.0         1  384460.0  800660.0

   osgrdind       oa21  ...      bua22 ru11ind oac11        lat      long  \
0         1  S00090303  ...  S99999999     3.0   1C3  57.101474 -2.242851
1         1  S00090303  ...  S99999999     3.0   1C3  57.102554 -2.246308
2         1  S00090399  ...  S99999999     3.0   6A1  57.100556 -2.248342
3         8  S00091322  ...  S99999999     6.0   1A2  57.084444 -2.255708
4         8  S00090299  ...  S99999999     3.0   6A4  57.096656 -2.258102

        lep1 lep2        pfa   imd        icb
0  S99999999  NaN  S23000009  6715  S99999999
1  S99999999  NaN  S23000009  6715  S99999999
2  S99999999  NaN  S23000009  6715  S99999999
3  S99999999  NaN  S23000009  5069  S99999999
4  S99999999  NaN  S23000009  6253  S99999999

[5 rows x 35 columns]
          pcd      pcd2      pcds  dointr    doterm  usertype  oseast1m  \
2655  AB101AA  AB10 1AA  AB10 1AA  201109  201610.0         1  394251.0
2656  AB101AB  AB10 1AB  AB10 1AB  201106       NaN         1  394235.0
2657  AB101AD  AB10 1AD  AB10 1AD  199606  200009.0         1  394318.0
2658  AB101AF  AB10 1AF  AB10 1AF  199606       NaN         1  394235.0
2659  AB101AG  AB10 1AG  AB10 1AG  199606       NaN         1  394230.0

      osnrth1m  osgrdind       oa21  ...      bua22 ru11ind oac11        lat  \
2655  806376.0         1  S00090540  ...  S99999999     1.0   2B1  57.148232
2656  806529.0         1  S00090540  ...  S99999999     1.0   2B1  57.149606
2657  806364.0         1  S00090540  ...  S99999999     1.0   2B1  57.148125
2658  806529.0         1  S00090540  ...  S99999999     1.0   2B1  57.149590
2659  806469.0         1  S00090540  ...  S99999999     1.0   2B1  57.149051

          long       lep1 lep2        pfa   imd        icb
2655 -2.096648  S99999999  NaN  S23000009  3888  S99999999
2656 -2.096916  S99999999  NaN  S23000009  3888  S99999999
2657 -2.095540  S99999999  NaN  S23000009  3888  S99999999
2658 -2.096923  S99999999  NaN  S23000009  3888  S99999999
2659 -2.097004  S99999999  NaN  S23000009  3888  S99999999

[5 rows x 35 columns]
       pcd      pcd2     pcds  dointr    doterm  usertype  oseast1m  osnrth1m  \
0  AB1 0AA  AB1  0AA  AB1 0AA  198001  199606.0         0  385386.0  801193.0
1  AB1 0AB  AB1  0AB  AB1 0AB  198001  199606.0         0  385177.0  801314.0
2  AB1 0AD  AB1  0AD  AB1 0AD  198001  199606.0         0  385053.0  801092.0
3  AB1 0AE  AB1  0AE  AB1 0AE  199402  199606.0         0  384600.0  799300.0
4  AB1 0AF  AB1  0AF  AB1 0AF  199012  199207.0         1  384460.0  800660.0

   osgrdind       oa21  ...      bua22 ru11ind oac11        lat      long  \
0         1  S00090303  ...  S99999999     3.0   1C3  57.101474 -2.242851
1         1  S00090303  ...  S99999999     3.0   1C3  57.102554 -2.246308
2         1  S00090399  ...  S99999999     3.0   6A1  57.100556 -2.248342
3         8  S00091322  ...  S99999999     6.0   1A2  57.084444 -2.255708
4         8  S00090299  ...  S99999999     3.0   6A4  57.096656 -2.258102

        lep1 lep2        pfa   imd        icb
0  S99999999  NaN  S23000009  6715  S99999999
1  S99999999  NaN  S23000009  6715  S99999999
2  S99999999  NaN  S23000009  6715  S99999999
3  S99999999  NaN  S23000009  5069  S99999999
4  S99999999  NaN  S23000009  6253  S99999999

[5 rows x 35 columns]

In [11]:
num_unique_postcodes = postcodes['pcd'].nunique()
print(f'The number of unique postcodes is: {num_unique_postcodes}')

The number of unique postcodes is: 2690851

In [12]:
# Get unique postcodes from both dataframes
unique_properties_postcodes = properties['Postcode'].unique()
unique_postcodes_postcodes = postcodes['pcd'].unique()

In [13]:
unique_postcodes_postcodes_2 = postcodes['pcd2'].unique()
unique_postcodes_postcodes_s = postcodes['pcds'].unique()

In [14]:
# Compare
common_postcodes = set(unique_properties_postcodes).intersection(set(unique_postcodes_postcodes_s))
print(f"Number of common postcodes: {len(common_postcodes)}")

Number of common postcodes: 1192278

In [15]:
common_postcodes

{'GL8 8HA',
 'SS2 4RJ',
 'DA14 6BQ',
 'KT6 6HR',
 'ME7 4EB',
 'DT4 0NB',
 'E17 6RR',
 'SM6 9QQ',
 'CW7 1DR',
 'TQ6 0JG',
 'SO22 6PZ',
 'LE10 1HL',
 'M22 4NY',
 'GU5 9ER',
 'TS18 5JG',
 'B21 8DW',
 'OL15 8JB',
 'DH5 0PH',
 'CT12 6EF',
 'SO16 4QS',
 'M3 5JL',
 'TR21 0NJ',
 'PO12 4UG',
 'ST3 2RA',
 'CV6 6FR',
 'TR8 5NX',
 'CB5 8SG',
 'BH24 1RT',
 'LE2 9RB',
 'YO26 4XZ',
 'PL35 0EA',
 'KT15 3NS',
 'TN12 9SX',
 'LA1 4ET',
 'BS16 7FN',
 'WS12 4SS',
 'CA7 3JZ',
 'DT6 6RD',
 'M21 8FE',
 'DE1 3RT',
 'PE9 2ST',
 'NR35 2TZ',
 'HP7 9BD',
 'ME9 7DD',
 'DE11 9TS',
 'YO22 4HT',
 'PL14 3QD',
 'SK10 2JJ',
 'BD6 2DD',
 'LS11 9NJ',
 'NG2 1QE',
 'OX14 1PA',
 'B60 2AR',
 'DY11 6SF',
 'RM5 3YD',
 'L10 4UT',
 'BD13 5EB',
 'SN15 5JR',
 'MK6 3DW',
 'TA2 8FL',
 'ME10 2UD',
 'PL2 1JH',
 'S44 6XU',
 'WA3 1AT',
 'SN3 3AU',
 'RM6 5UF',
 'PO15 5LD',
 'DN37 7BP',
 'N8 7BB',
 'ME5 8RJ',
 'CM3 1DJ',
 'CM3 4RZ',
 'SW6 2XD',
 'LS24 9TL',
 'SN12 7GF',
 'DA7 6HX',
 'NG16 3DZ',
 'BD11 2LL',
 'BH31 6HL',
 'GL53 0LG',
 'B62 9RU',
 'BD17 5LN',
 'BS9 2LE',
 'BH8 8SX',
 'BB8 9AF',
 'WA14 2DP',
 'RG30 4SY',
 'M14 5GG',
 'TQ12 4QF',
 'BR2 0SA',
 'LS7 2LF',
 'IG6 2QX',
 'BN12 4RW',
 'UB8 1LD',
 'WA16 6PJ',
 'S42 6XY',
 'L35 5AE',
 'RG7 1UP',
 'TS10 3JR',
 'BL2 6LQ',
 'BS9 3TF',
 'TN12 0QT',
 'WR3 7HR',
 'CO11 2PR',
 'EX4 6LB',
 'PL30 3FG',
 'DY1 4JP',
 'BH12 4LZ',
 'WV8 2JP',
 'NE12 8PT',
 'RM11 3BN',
 'LE7 2FG',
 'NG17 7EP',
 'BH12 2AN',
 'HP4 3RD',
 'NG1 6GX',
 'WA8 3EH',
 'BN22 7RH',
 'CM22 6LQ',
 'BH24 3AU',
 'TN38 9AB',
 'L31 6DF',
 'EX15 1NW',
 'OX15 5TE',
 'BH12 2DH',
 'YO8 6EX',
 'AL7 4EZ',
 'OL2 5YD',
 'HP27 9QA',
 'DT1 3DB',
 'PO19 5TZ',
 'YO25 8ES',
 'N22 8QU',
 'E2 8FP',
 'SM1 3SP',
 'DT1 1BL',
 'SL1 2HX',
 'RM11 3LQ',
 'WA7 2DT',
 'E8 3XF',
 'ME12 4HN',
 'RG45 7AQ',
 'RM17 5AN',
 'PO8 8NB',
 'HU8 7RY',
 'B18 6DX',
 'M41 6LD',
 'BR3 4DL',
 'SG19 1TY',
 'BB2 5FB',
 'HP10 0JL',
 'E10 6QD',
 'HA1 4PR',
 'LE7 9DH',
 'YO16 4YN',
 'TA4 4LN',
 'BB12 7BG',
 'WF17 5LQ',
 'WA14 5AB',
 'DN32 7JR',
 'NR15 2YL',
 'NE24 5DR',
 'SS4 1XP',
 'LA12 7HY',
 'DN37 0PZ',
 'CO7 9QS',
 'L23 1TD',
 'SE17 1HG',
 'YO25 5NN',
 'WV4 4UA',
 'RG22 4DD',
 'B30 3PF',
 'YO21 1PA',
 'HA4 0RT',
 'WF13 1DH',
 'PR7 7ER',
 'EN8 8QT',
 'SS2 4EY',
 'UB3 1NP',
 'SN5 3NH',
 'LS29 0DP',
 'B27 6DF',
 'WD4 8HE',
 'DN12 2JA',
 'TR14 7UJ',
 'OL5 9PD',
 'EN4 8PQ',
 'RH12 1AH',
 'YO16 6FL',
 'GL19 4BB',
 'CM13 2JZ',
 'CM7 2QH',
 'TQ12 5BH',
 'SW9 9EJ',
 'E14 3QA',
 'ST3 4HA',
 'ME17 1TQ',
 'TR4 9AP',
 'ME9 7JY',
 'SE16 4LE',
 'S72 8FZ',
 'HP21 8YE',
 'DN5 8DH',
 'LU7 4RE',
 'TW14 9QT',
 'NG6 8TS',
 'BH22 9HX',
 'SP1 2NJ',
 'GL5 3TT',
 'NW6 6SJ',
 'E6 2DE',
 'TS3 6NW',
 'ME12 1XX',
 'HD9 2NG',
 'LE15 9NT',
 'LA8 8JF',
 'NG15 8AP',
 'EX9 6NW',
 'YO17 9QT',
 'WA13 0JZ',
 'W12 7GN',
 'TS27 4EW',
 'B62 0AG',
 'LS24 9UB',
 'CV35 9AS',
 'NR14 7WP',
 'YO11 3FW',
 'BR3 5JY',
 'WD7 7HB',
 'PO6 3UE',
 'B62 8AT',
 'YO23 1AX',
 'TN34 1QQ',
 'DA2 7AG',
 'WF1 4FA',
 'MK13 9DD',
 'E14 7HF',
 'NG6 9DD',
 'M34 6FZ',
 'NR3 1RF',
 'HD3 3WE',
 'FY5 1HZ',
 'PR2 9FP',
 'PR3 3EU',
 'DE24 8DB',
 'SK9 2QG',
 'PE8 5PF',
 'WD25 9QA',
 'TF9 3ET',
 'LE4 5JF',
 'E14 0PZ',
 'L12 8RT',
 'OL6 6TZ',
 'ST5 8AA',
 'BH23 4DX',
 'WR3 7EQ',
 'NG9 6RN',
 'DH1 5AZ',
 'OX11 6HJ',
 'HU9 3SD',
 'B79 8UE',
 'WA6 0JE',
 'WV6 7SF',
 'DN16 3FX',
 'NE3 3NG',
 'TN2 3UX',
 'TN5 7DY',
 'CW9 7XL',
 'DE22 2QY',
 'WA5 8AQ',
 'IP22 1JJ',
 'WN5 9UH',
 'N19 4LP',
 'BS22 6HD',
 'ME14 5QS',
 'BB18 5PW',
 'RG42 5AD',
 'NR10 4LQ',
 'WV3 0AS',
 'DL11 6HL',
 'NR13 6PU',
 'GL5 1NZ',
 'LA1 2HB',
 'HP9 1XR',
 'TW7 5NQ',
 'BA2 6RA',
 'NE24 3TZ',
 'LU5 5PJ',
 'OX13 6RX',
 'IP19 0HH',
 'DN32 9LB',
 'WV1 3JY',
 'GL18 1BH',
 'W7 1BN',
 'DA11 8PZ',
 'MK17 8FJ',
 'NE23 7XE',
 'RM17 6XE',
 'GL3 1DY',
 'LN10 6TR',
 'DN7 4NW',
 'B91 3LZ',
 'DN33 1LR',
 'BH18 9LQ',
 'M24 4DF',
 'SK4 4BS',
 'BR5 3BQ',
 'EX2 4DG',
 'SR3 1TN',
 'LA20 6BA',
 'TA4 2BD',
 'CO9 3QA',
 'MK40 2DX',
 'BA4 5JT',
 'HG5 0AR',
 'L3 8HJ',
 'CA7 3AG',
 'TW13 4LR',
 'M20 6LB',
 'OX7 7EZ',
 'NN8 3LL',
 'BB9 8LL',
 'CV47 2RY',
 'DN14 8NF',
 'S6 4QR',
 'CR4 4ES',
 'WF14 0JL',
 'RG28 7QR',
 'BD20 8NY',
 'DN37 0PW',
 'BL4 8SE',
 'BH23 3HJ',
 'HP2 5NX',
 'TN17 3NS',
 'BR7 6ES',
 'BA15 1GB',
 'BN11 4DY',
 'FY1 3LW',
 'E16 3NN',
 'LS10 3JB',
 'CO2 0JN',
 'NG24 3UW',
 'NE64 6UR',
 'SG2 7NU',
 'EX15 3PH',
 'RH4 1LL',
 'HP22 5JN',
 'LA9 5LJ',
 'OL12 0QS',
 'UB3 1LN',
 'TR16 6EN',
 'SW1X 0BL',
 'WA7 5UL',
 'LN1 2SW',
 'WD23 4LJ',
 'PR6 0PR',
 'DE21 7AY',
 'PL27 6SG',
 'DH3 4LD',
 'NW4 2BP',
 'SS17 7JS',
 'SO31 7FJ',
 'GU7 1FR',
 'CV36 5BD',
 'CW5 8BD',
 'YO32 2PU',
 'B23 5QJ',
 'GL3 4EL',
 'YO23 7HA',
 'BD3 8JY',
 'S43 2DP',
 'TA6 4PR',
 'B67 7EU',
 'KT22 9XQ',
 'SN25 2EB',
 'PO36 9AF',
 'BD5 0TN',
 'BH8 8EY',
 'SL1 3JL',
 'IP8 3HA',
 'S36 2QS',
 'AL10 8DS',
 'DE15 9ER',
 'GL51 0XT',
 'DN12 3NB',
 'WR11 1BS',
 'SS7 5XJ',
 'KT15 3HP',
 'BS16 4AT',
 'SW16 3HA',
 'RH16 4GF',
 'WA14 5JU',
 'LS9 6NU',
 'TR14 8AP',
 'CT6 7TS',
 'SN7 7YW',
 'FY5 3PG',
 'SS15 6JB',
 'PE19 6BP',
 'BR5 2AL',
 'EX4 9EJ',
 'PR9 8LR',
 'NG4 1JT',
 'NE20 9XJ',
 'FY1 2DH',
 'SN12 6TA',
 'WA5 9RX',
 'PE21 8AY',
 'BD4 0SL',
 'PE16 6RX',
 'CT14 7RP',
 'DN40 1QR',
 'SM7 1HQ',
 'CM7 3NW',
 'NR28 0AP',
 'LA14 5AQ',
 'ME19 5HW',
 'BB11 4EZ',
 'HA7 3SR',
 'YO21 3UG',
 'NE66 2QG',
 'IP22 1NZ',
 'PE30 1BP',
 'YO21 1PF',
 'M30 9DP',
 'FY1 6AQ',
 'NE32 4PG',
 'PO2 0LU',
 'NR19 1RG',
 'ME13 8RF',
 'B63 1HP',
 'ME5 0UA',
 'KT24 6QG',
 'TA10 0BE',
 'RH13 8LZ',
 'BS4 2BY',
 'OX2 0QL',
 'NR34 0ND',
 'PO7 7JJ',
 'TS5 5DX',
 'EX3 0BG',
 'OX1 4TA',
 'RG28 7FJ',
 'TW14 0DP',
 'E13 8RA',
 'NW5 4ES',
 'BN26 5NQ',
 'B11 1LD',
 'BH19 1JW',
 'SE9 4HG',
 'EX10 8AJ',
 'DA12 5JA',
 'TN25 4PB',
 'S11 8HD',
 'BA11 5JJ',
 'PE37 7JF',
 'TW18 4JJ',
 'GU33 7SN',
 'DL10 6DE',
 'L21 4PL',
 'NN9 5AU',
 'B35 7QD',
 'EN5 5QU',
 'IP13 7BA',
 'CR5 1QW',
 'B33 8DR',
 'B42 1ST',
 'YO8 6EH',
 'RG5 3HS',
 'S36 2PU',
 'NE3 3TP',
 'NE4 5NR',
 'L34 2ST',
 'BN10 7BH',
 'EX31 1RZ',
 'SP2 8FD',
 'L7 5QY',
 'WF1 4RA',
 'S6 2UW',
 'DN11 0RZ',
 'TA1 3AL',
 'WF3 1ED',
 'CM9 6JE',
 'PL34 0DY',
 'HU13 9ER',
 'LU5 6QR',
 'KT13 0NY',
 'LA9 6JU',
 'SN14 8NX',
 'TR14 9LG',
 'WF1 3TW',
 'CW5 6JD',
 'BL1 6PN',
 'TN3 9TH',
 'TQ1 4AW',
 'DE7 5PD',
 'DH3 2JJ',
 'MK43 9PE',
 'WA10 6EG',
 'FY6 7XN',
 'IP24 1PX',
 'NE2 2JT',
 'BS31 1RB',
 'DH6 2AB',
 'SG1 5PH',
 'BS22 9DH',
 'ST2 9DW',
 'TN16 1RU',
 'TW7 6PB',
 'PE37 7SF',
 'PE34 4WG',
 'LS29 8TE',
 'IG2 7AG',
 'BL4 9NB',
 'PO35 5TT',
 'AL8 6QA',
 'SL9 8EF',
 'BH24 1LD',
 'BA7 7JS',
 'SP8 4XQ',
 'SG7 6TH',
 'NG34 9UF',
 'NG17 5EP',
 'TA23 0ET',
 'N15 4DF',
 'YO42 1TJ',
 'WV3 8DY',
 'BN1 5GD',
 'BS1 1UE',
 'BL7 9ER',
 'PO18 0EL',
 'KT5 8BQ',
 'B16 9NU',
 'LE2 3AN',
 'CV7 7NF',
 'IP15 5PA',
 'LN11 8AF',
 'GU2 7TS',
 'E13 0QA',
 'CM18 7RE',
 'OL1 4DW',
 'TA6 7EJ',
 'M34 3FD',
 'SK17 7LW',
 'NW4 4XG',
 'CV34 6EL',
 'SW18 5ED',
 'B11 1PH',
 'B18 7LB',
 'LA1 4NU',
 'PE34 3DU',
 'IP14 1EG',
 'CA25 5SD',
 'B98 0PZ',
 'ME7 1JL',
 'SS13 3AB',
 'DN7 6JF',
 'CA8 1DU',
 'LN7 6RB',
 'N11 3GD',
 'W1U 3DD',
 'DL15 9EG',
 'DN5 9NP',
 'LE13 0HB',
 'SE3 0QZ',
 'SW8 4XH',
 'S43 2JR',
 'NR32 4JH',
 'WD24 6HR',
 'CW6 9BZ',
 'YO41 4DT',
 'SE1 3GP',
 'BA2 7LW',
 'N12 7AH',
 'N4 1SX',
 'OL11 2SB',
 'ME9 7TJ',
 'CV5 8HW',
 'SR4 7BP',
 'BS24 9XL',
 'BD13 1HD',
 'NR21 0JR',
 'OL10 4JN',
 'NG9 3GG',
 'SP8 4QS',
 'BD13 3DY',
 'MK8 9ER',
 'SO19 6PX',
 'S5 7NA',
 'HU12 9BS',
 'CM3 6PN',
 'CR4 2EF',
 'B8 3RN',
 'RG2 7RH',
 'ME12 2HX',
 'SS4 1ED',
 'TN8 6SR',
 'BR7 6HL',
 'PE4 7EL',
 'NG12 5DU',
 'SK17 6LB',
 'NG11 7AY',
 'CM1 7DS',
 'RG18 4BX',
 'TS19 8QD',
 'LE4 0UD',
 'EX16 6AH',
 'BH15 1AB',
 'BA22 9DS',
 'HX4 0ET',
 'CB6 2NR',
 'NR34 7LA',
 'LE67 6HU',
 'DA16 3QR',
 'PO30 4PH',
 'BL4 0AF',
 'L9 6AZ',
 'NN6 6LQ',
 'GL52 6BQ',
 'SS17 8NF',
 'TQ13 9XY',
 'SS16 5SH',
 'NW4 4JN',
 'DT10 2HZ',
 'GU23 6LQ',
 'ST6 6PL',
 'OX11 8TN',
 'SW11 3DN',
 'DE22 3RD',
 'BH10 4DF',
 'BS34 5EP',
 'SG8 7SU',
 'S20 4GG',
 'CT4 7SE',
 'DY7 6NB',
 'WR11 7PS',
 'CO2 7WB',
 'CW11 3RL',
 'BN11 5QL',
 'LS12 4PD',
 'TN12 7DU',
 'DA5 1DG',
 'M23 1BN',
 'TA7 0DT',
 'TN26 2DE',
 'NE34 0HL',
 'SS0 0QF',
 'ST13 8HT',
 'SL4 1HX',
 'SG6 4PP',
 'B93 0NH',
 'GL16 8RP',
 'BN20 7EX',
 'CO10 0NY',
 'SN6 7HN',
 'HP23 4DX',
 'E5 9BE',
 'LS25 1DX',
 'LS17 7RL',
 'CW11 3RP',
 'SP5 5PB',
 'CM7 3YP',
 'N15 6QJ',
 'SS13 3RQ',
 'WF8 2JL',
 'WA15 9AU',
 'BL1 6NT',
 'RM6 4ND',
 'SE1 3XF',
 'YO43 4EE',
 'WF8 2GB',
 'DA11 9QJ',
 'HP13 5YQ',
 'HP23 5DE',
 'PL14 6JE',
 'TN29 0QS',
 'BA12 8AN',
 'DT9 6RJ',
 'HA7 3LN',
 'N7 8JL',
 'BB10 2RL',
 'CT15 4BU',
 'SG6 2HJ',
 'SW2 3ST',
 'TS10 5BS',
 'TN6 3NS',
 'NE25 8LZ',
 'GL1 3LJ',
 'LS12 3AZ',
 'HA3 6BH',
 'PO32 6AX',
 'PR4 2EP',
 'BH23 5BZ',
 'LS10 4SD',
 'S1 4BG',
 'SE9 2BX',
 'DL10 4PA',
 'KT17 2DX',
 'B76 1QX',
 'FY8 2BT',
 'GU8 5EY',
 'L10 7NB',
 'BS10 7QN',
 'CM14 5AE',
 'HU11 4NE',
 'NG7 7EF',
 'YO11 1QJ',
 'DN34 4HB',
 'PO13 0AX',
 'IP11 9TD',
 'N16 6HA',
 'B78 3PL',
 'PO9 5RA',
 'LU2 8AN',
 'TN15 6HJ',
 'BB6 8HR',
 'DE73 5WY',
 'HA6 2WA',
 'EX12 2BP',
 'NG16 6NX',
 'PL19 8LL',
 'BS2 0QN',
 'GL5 4DL',
 'SK10 1QF',
 'PR5 6SS',
 'GL8 8XN',
 'SN25 2ES',
 'SL3 7PU',
 'DA12 1HD',
 'CV37 8FF',
 'BN3 4BE',
 'CT14 7TP',
 'M3 4LX',
 'RH20 2JF',
 'PE12 7DT',
 'DE75 7AT',
 'CV31 1UJ',
 'WA6 7RT',
 'CO10 8PU',
 'SK22 1BP',
 'YO32 5WX',
 'BD22 7NT',
 'DE74 2DF',
 'CT15 5AG',
 'S11 9EA',
 'SO50 9PQ',
 'N13 5HT',
 'LE9 4GA',
 'GU21 2JX',
 'S10 5AB',
 'NR15 2TD',
 'HG2 8PH',
 'RG2 8JB',
 'PL9 8NG',
 'KT3 6HT',
 'PO21 2XQ',
 'S70 3LJ',
 'CT7 9SN',
 'PL7 4EE',
 'SO21 1EE',
 'E8 4LF',
 'WV8 1SD',
 'RH10 9JY',
 'SK11 8EH',
 'TN16 2HU',
 'TN3 0YE',
 'M23 9JP',
 'WS10 9AD',
 'YO15 1HA',
 'W2 4TE',
 'GL16 7HF',
 'W12 9AU',
 'DN31 1DP',
 'TN5 6FD',
 'N22 8DP',
 'TQ13 8RT',
 'DT3 6LB',
 'TR10 8EB',
 'SO16 6DA',
 'RG41 5NW',
 'PE12 6PW',
 'CV35 8SQ',
 'MK4 1AH',
 'PL15 7RJ',
 'PR26 8LS',
 'OL12 6LJ',
 'TF2 7AA',
 'FY1 3NP',
 'CV9 2BZ',
 'TQ12 4QX',
 'SR2 0FA',
 'W1H 2QF',
 'TD15 2BH',
 'RM12 6HX',
 'RH2 7DP',
 'SW11 6JP',
 'GU8 5ND',
 'WR4 9HD',
 'YO31 7EQ',
 'EX22 6GZ',
 'NR5 0NB',
 'EX1 3TJ',
 'SS14 3TW',
 'KT20 5AH',
 'NG34 7NN',
 'WD4 9AJ',
 'NG7 1QT',
 'PE13 4AF',
 'CV11 6SS',
 'MK40 2UX',
 'RG1 7RH',
 'SE16 7UX',
 'TN23 5TY',
 'BN43 5WB',
 'M27 0HD',
 'PE2 8WH',
 'CW9 6HE',
 'NN14 1DD',
 'BB7 1BQ',
 'OX2 6EW',
 'NG32 3SN',
 'M1 7FW',
 'WN8 9DE',
 'GU15 3PQ',
 'CT6 8LX',
 'BD23 4SQ',
 'NE46 3QR',
 'SE3 9PU',
 'CM1 6BW',
 'RG6 5PN',
 'CO10 8DY',
 'WA5 0AJ',
 'BN9 9LX',
 'CB9 8NF',
 'CV2 4AA',
 'ME7 3TB',
 'IP32 7PL',
 'WV10 9PD',
 'GU14 8PL',
 'TQ13 0JX',
 'CA2 6NU',
 'HP27 0RX',
 'SN9 5BP',
 'CR0 0QN',
 'OX12 0QD',
 'SO15 5QE',
 'HA2 9JW',
 'IP8 4BB',
 'NR17 1GE',
 'BN11 4SJ',
 'DY1 2GF',
 'EX16 8PF',
 'BB9 6DR',
 'NR21 0AJ',
 'LE19 4SQ',
 'BL5 3AH',
 'KT22 0TJ',
 'HU17 8HP',
 'HA2 7HJ',
 'EN9 1TA',
 'BN2 8EN',
 'LE11 3HL',
 'WV7 3NX',
 'N15 4HP',
 'DN5 9LB',
 'YO23 3RP',
 'WV6 9DN',
 'IP1 5AL',
 'WA16 8AB',
 'YO22 4JY',
 'GL20 5RW',
 'N2 8EN',
 'W3 7TN',
 'DN10 4BL',
 'PO21 3SA',
 'SL2 5HQ',
 'TR11 4NP',
 'LS17 0DS',
 'TQ5 9HP',
 'LS21 3LP',
 'OL10 4AF',
 'M24 4TG',
 'W7 3DN',
 'DE65 6DU',
 'NG31 7LJ',
 'KT12 2PH',
 'LN6 3NA',
 'BS37 5NN',
 'IP3 0EW',
 'BN2 4GF',
 'WF6 2DA',
 'BD5 9RB',
 'SP11 7RW',
 'IP3 9LF',
 'NE10 0RF',
 'L32 0TQ',
 'DN17 3AW',
 'E1 5BA',
 'NG34 0LE',
 'NW10 5HN',
 'CV35 8UR',
 'TF9 3LY',
 'CA4 8NA',
 'NW1 5QP',
 'IP14 4FR',
 'YO41 1DX',
 'L39 4QB',
 'S80 3DZ',
 'DH6 1RJ',
 'YO11 2DE',
 'CR3 6FA',
 'YO42 2AR',
 'L6 0AB',
 'CA19 1UJ',
 'CW5 6AN',
 'W4 5JU',
 'ST14 5LE',
 'MK41 7AB',
 'LS9 6AH',
 'CB4 3TB',
 'PR2 3HY',
 'RG7 3QQ',
 'BA9 8AP',
 'KT11 1BX',
 'BN16 4EQ',
 'ME13 7RX',
 'EX16 7EZ',
 'PL30 4QP',
 'WV16 4RR',
 'B21 8NT',
 'LS18 4FL',
 'IG7 4LH',
 'CT12 5JH',
 'SN6 8QB',
 'N21 1AP',
 'GL15 4RZ',
 'PE13 3HP',
 'BS2 9JD',
 'TR11 3BA',
 'IP32 6HY',
 'SN7 7HY',
 'GL20 7AJ',
 'CO12 4HS',
 'BN26 6GF',
 'B14 4DT',
 'IP31 2RF',
 'ME13 9RH',
 'PO14 1LS',
 'BR3 4QB',
 'WF8 3LE',
 'ME5 9SJ',
 'HA8 9NW',
 'N15 3RF',
 'SM6 7JG',
 'KT22 8AY',
 'DH9 9RT',
 'NW4 1ES',
 'BS49 4NS',
 'DY4 8NN',
 'TA13 5BD',
 'LS1 4AD',
 'OX18 2DZ',
 'WF5 9NQ',
 'DE1 2SR',
 'PE31 7UN',
 'BB1 1EE',
 'KT4 8UB',
 'OX17 1EZ',
 'HU11 4DE',
 'GU22 8LN',
 'SN4 0PQ',
 'S9 4AE',
 'CV21 4PJ',
 'DE22 3PB',
 'NW2 7JY',
 'WV14 6LN',
 'BB2 2TD',
 'SE13 7SP',
 'S20 2PX',
 'OL7 0NZ',
 'ST1 6SN',
 'TR3 7HT',
 'L18 6JP',
 'TW3 2HH',
 'CO10 1YY',
 'M44 6AP',
 'TS19 9NW',
 'BN15 8PT',
 'DE7 6FT',
 'MK12 5PE',
 'ST17 0FL',
 'WR11 3GA',
 'GU11 3SF',
 'LS1 4AP',
 'PO38 2DL',
 'BB11 3AW',
 'LE7 2FQ',
 'LS17 5NE',
 'GL50 1PR',
 'DN7 4DH',
 ...}

In [16]:
# Create a DataFrame from the common_postcodes set
common_postcodes_df = pd.DataFrame(list(common_postcodes), columns=['Postcode'])

# Merge common_postcodes_df with the postcodes dataframe
df_final = pd.merge(common_postcodes_df, postcodes[['pcds', 'lat', 'long']], left_on='Postcode', right_on='pcds', how='left')

# Drop the redundant 'pcds' column
df_final.drop(columns=['pcds'], inplace=True)
df_final = df_final.rename(columns={"lat": "Lat", "long": "Long"})

In [17]:
df_final

         Postcode        Lat      Long
0         GL8 8HA  51.640620 -2.152272
1         SS2 4RJ  51.547842  0.739400
2        DA14 6BQ  51.422746  0.099688
3         KT6 6HR  51.393117 -0.299780
4         ME7 4EB  51.380130  0.557023
...           ...        ...       ...
1192273  WS13 6SY  52.688117 -1.806688
1192274  LE17 6LB  52.454033 -1.057775
1192275   CB5 8FS  52.209282  0.136840
1192276   HD9 7BE  53.589470 -1.762828
1192277  MK45 1GH  52.012143 -0.506868

[1192278 rows x 3 columns]

In [18]:
# Specify the output file path for the merged CSV file
output_file_path = f'../data/Airport Distance/bq-unique-property-postcodes.csv'

# Write the merged_data DataFrame to a CSV file
df_final.to_csv(output_file_path, index=False)

In [19]:
# Select required columns from properties DataFrame
properties_selected = properties[['Price', 'Date of Transfer', 'Postcode']]

# Merge properties_selected with df_final
df_merged = pd.merge(properties_selected, df_final, on='Postcode', how='inner')
df_merged

           Price Date of Transfer  Postcode        Lat      Long
0          44500       1995-02-03   SR6 0AQ  54.912539 -1.380977
1          42000       1995-06-23   SR6 0AQ  54.912539 -1.380977
2          31600       1996-04-19   SR6 0AQ  54.912539 -1.380977
3          35900       1997-09-02   SR6 0AQ  54.912539 -1.380977
4          39000       1998-04-27   SR6 0AQ  54.912539 -1.380977
...          ...              ...       ...        ...       ...
26308204  335000       2022-04-08  SO15 0NE  50.921032 -1.467421
26308205  395000       2022-05-27  SO17 3TD  50.937320 -1.387404
26308206  117000       2022-01-21   NE4 6EQ  54.968487 -1.633696
26308207  615050       2022-04-27  CT15 4LD  51.224197  1.222978
26308208  117000       2022-03-31  DN34 5EZ  53.551723 -0.112697

[26308209 rows x 5 columns]

In [20]:
df_merged = df_merged[['Price', 'Date of Transfer', 'Postcode']]
df_merged

           Price Date of Transfer  Postcode
0          44500       1995-02-03   SR6 0AQ
1          42000       1995-06-23   SR6 0AQ
2          31600       1996-04-19   SR6 0AQ
3          35900       1997-09-02   SR6 0AQ
4          39000       1998-04-27   SR6 0AQ
...          ...              ...       ...
26308204  335000       2022-04-08  SO15 0NE
26308205  395000       2022-05-27  SO17 3TD
26308206  117000       2022-01-21   NE4 6EQ
26308207  615050       2022-04-27  CT15 4LD
26308208  117000       2022-03-31  DN34 5EZ

[26308209 rows x 3 columns]

In [21]:
# Convert 'Year of Transfer' to datetime format
df_merged['Date of Transfer'] = pd.to_datetime(df_merged['Date of Transfer'])


# Filter rows where 'Year of Transfer' is before 22 February 2022
df_filtered = df_merged[df_merged['Date of Transfer'] < pd.Timestamp(2022, 2, 23)]

# Extract the year and assign it back to the 'Date of Transfer' column
df_filtered['Date of Transfer'] = df_filtered['Date of Transfer'].dt.year

df_filtered = df_filtered.rename(columns={'Date of Transfer': 'Year of Transfer'})
df_filtered

/var/folders/nr/xgt7yplx50b7g0btpmjwcjf00000gn/T/ipykernel_768/1732065156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['Date of Transfer'] = pd.to_datetime(df_merged['Date of Transfer'])
/var/folders/nr/xgt7yplx50b7g0btpmjwcjf00000gn/T/ipykernel_768/1732065156.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Date of Transfer'] = df_filtered['Date of Transfer'].dt.year

           Price  Year of Transfer  Postcode
0          44500              1995   SR6 0AQ
1          42000              1995   SR6 0AQ
2          31600              1996   SR6 0AQ
3          35900              1997   SR6 0AQ
4          39000              1998   SR6 0AQ
...          ...               ...       ...
26308154  849999              2022  TN33 9LY
26308155  425000              2022   DT1 3HH
26308193  365000              2022  SS17 0AX
26308195  160000              2022  TS19 7QN
26308206  117000              2022   NE4 6EQ

[25615837 rows x 3 columns]

In [22]:
# Specify the output file path for the merged CSV file
output_file_path = f'../data/Airport Distance/bq-property_price_year_postcode.csv'

# Write the merged_data DataFrame to a CSV file
df_filtered.to_csv(output_file_path, index=False)